<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold">About us</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <img src="~/img/Logo1.png" alt="" style="width:40%">
                    <h3> </h3>
                    <p>
                        We are MP-10 Tech Alpino
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/team1.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>SOVAN ROY</h3>
                        <p>MBIS</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/team2.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>VIDHI BAJORIA</h3>
                        <p>MDS</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_team_member">
                        <div class="team_thumb">
                            <img src="~/img/team/team3.jpg" alt="">
                        </div>
                        <div class="member_info text-center">
                            <h3>QINHAO LIANG</h3>
                            <p>MIT</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team_member">
                        <div class="team_thumb">
                            <img src="~/img/team/team4.jpg" alt="">
                        </div>
                        <div class="member_info text-center">
                            <h3>QIAOCHU YIN</h3>
                            <p>MBIS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team_area_end  -->