<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold">Bushfire</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showdiv();" id="strhref" class="btn-show">
                    >&nbspWHAT ARE BUSHFIRES?
                </a>
            </h2>
            <div class="hpn" id="mm" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Bushfires are fires that burn through areas of bushlandand are common throughout Australia.They are a type of wildfire – fires that burn through wild vegetation like woodland,scrubland,grassland or savannahs. These fires are unpredictable, slow-moving and difficult to control with high heat output.<br>
                    They usually pass in two to five minutes but can smoulder for days at end and have caused significant damages to properties and also loss of lives. They have become an intrinsic part of Australia’s environment causing natural ecosystems to evolve over time.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsdiv();" id="abchref" class="btn-show">
                    >&nbspWHAT FACTORS CAUSE BUSHFIRES TO OCCUR?
                </a>
            </h2>
            <div class="hpn" id="cc" style="display:none;">
                <p style="color:#000000;font-size:20px">
                    There are lots of possible bushfire causes. They can start naturally,when lightning strikes and ignites dry plants and trees, like the golden wattle tree. But they can also be caused by people, for example, by someone not extinguishing their campfire properly. Sadly, sometimes fires are started by someone deliberately.<br>
                    Climate change doesn’t start bushfires, but it does cause them tobecomelargerand more ferocious. That’s because our warming planet is experiencing more intenseperiods of drought, drying out the vegetation that fuels the fires. All that’s needed is a spark.<br>
                    The most common factors that determine if a bushfire will occur or not are the presence of oxygen, fuel and ignition sources. The speed at which the bushfire can spread, and the intensity of the fire depends on factors such as wind speed, fuel load, fuel moisture, relative humidity, ambient temperature and slope angle.
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show1();" id="fff" class="btn-show">
                                >&nbspWind speed
                            </a>
                        </h4>
                        <div class="hpn" id="ff" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Wind is the factor that aggravates the fire by blowing the existing flames into a fresh fuel source, bringing it to an ignition point and then providing a incessant supply of Oxygen. It also aids in promoting the swift spread of the fire by spotting, which causes the ignition of new fires by the burning of embers that remain in the air as much as 30km downwind from the fire front. The speed of the wind has a threshold range of around 12 to 15km/hour and has a tremendous effort on the behaviour of the open bushfires. When the speed is below the threshold, the fires having heavy fuel source burn slowly. On the other hand, even a minor increase in the speed of wind above the threshold values result in momentous increase in the advancement of the fire and its behaviour. The shift of wind and its speed can also aid in widening the fire front immediately. A wider fire also ends up burning at a quicker pace than a very narrow one.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show2();" id="ggg" class="btn-show">
                                >&nbspFuel load
                            </a>
                        </h4>
                        <div class="hpn" id="gg" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Fuel load is the amount of the leaf litter, fallen branches, twigs and barks that accumulate in a landscape over time. They aid in increasing the intensity and ferocity of the fire. The fuel sources that are concentrated together but packed loosely end up burning at a faster rate that those that are compactly packed or scattered. The smaller fragments of fuel such as the leaves litter, branches and twigs end up burning at a quicker pace especially when they are dry and arranged loosely. The larger fuels like the trunks and barks of trees, often end up burning later with greater intensity, after the fire front has already passed. Some plants like Eucalyptus also have natural oils that promote the combustion of the fuel.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show3();" id="hhh" class="btn-show">
                                >&nbspFuel moisture
                            </a>
                        </h4>
                        <div class="hpn" id="hh" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Moisture refers to the dampness or wetness that can occur in fuel sources. Dry fuel tends to burn at a faster rate ,and damp or wet fuel might end up not burning at all. Hence, the time period that has passed since the last occurrence of rain as well as the amount of the rainfall that was received also play vital roles in the assessment of bushfire dangers. The occurrence of a moisture deficit or the measure of a drought factor is an indicator of the harsh or extreme bushfire weather conditions.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show4();" id="iii" class="btn-show">
                                >&nbspRelative humidity
                            </a>
                        </h4>
                        <div class="hpn" id="ii" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                The occurrence of moist air has a lower intensity of fire than that of the occurrence of dry air. Plants tend to be more flammable at low humidity levels as they end up releasing their moisture content with less difficulty.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show5();" id="jjj" class="btn-show">
                                >&nbspAmbient temperature
                            </a>
                        </h4>
                        <div class="hpn" id="jj" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                The higher the temperature levels seem to occur, the more are the chances for a fire to end up starting or also continuing to burn. This high temperature causes the fuel sources to become closer to their ignition points and also cause the pre-heated fuel loads to end up burning at a faster pace.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show6();" id="kkk" class="btn-show">
                                >&nbspSlope angle
                            </a>
                        </h4>
                        <div class="hpn" id="kk" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Convection and radiation techniques help the fires to pre-heat their fuel sources. This causes an acceleration of the fires when they travel in an uphill manner and a deacceleration while travelling in a downhill manner. The level of steepness of the slopes also play a vital role in affecting the rate at which the fire spreads. As the slope increases by approximately 10 degrees, the speed of the fire front doubles, such that on a 20 degree slope, the advancement of the fire’s speed would be four times more than that it was on the ground level. This is just like how a matchstick ends up burning faster when it is held in the upward direction of the fire as opposed to the downwards direction.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showssdiv();" id="defhref" class="btn-show">
                    >&nbspARE BUSHFIRES NATURAL?
                </a>
            </h2>
            <div class="hpn" id="dd" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    Bushfires are a part of a vital natural cycle that has been around for over hundreds of millions of years. These flames aid in killing insects and also diseases that could harm the trees and plants. The fires having low intensity help in burning the decaying matter or debris to replenish the nutrients in the soil. The also aid in making space for the growth of new shoots and enable more sunlight to reach the ground to create a more valuable source of food and a newer habitat for the plants, animals and birds to stay in.<br>
                    The origination of bushfires can be both natural causes as well as manmade ones caused by human activities. Lightning is the principal natural form of bushfires, which accounts for around 50% of all the Australian fire ignitions whereas, the other 50% occur due to deliberate or unintentional human activities. The deliberate lighting of fires is the result of mainly arson or could also be an attempt toward controlled fire to manage land and have a beneficial outcome, but end up becoming uncontrollable due change in conditions not within human control. But at times, controlled fires help in the prevention of the large-scale bushfires that could be out of one’s control by clearing out the dry grass, branches, twigs and leaves that could end up being a potential source of fuel for the bushfires.

                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsssdiv();" id="ghihref" class="btn-show">
                    >&nbspWHY ARE BUSHFIRES DANGEROUS?
                </a>
            </h2>
            <div class="hpn" id="ee" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    Bushfires become dangerous when they grow out of control and encroach on human communities and properties. These uncontrollable flames have the power to burn through building structures and the smoke from the fires can cause intense breathing difficulties for the community members. Other weather conditions like windy climate, less humid and higher temperatures also aid in the quicker spread of the flames of the bushfires.<br>
                    But, thankfully there are a lot of people such as firefighters, governmental and non-governmental organisations as well as regular people who work tirelessly to learn and help in prevention and control, response and recovery from bushfires to enable us to stay safe during such catastrophic bushfires.
                </p>
            </div>
        </div>




        @*  123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show7();" id="lll" class="btn-show">
                    >&nbspBUSHFIRE WARNINGS
                </a>
            </h2>
            <div class="hpn" id="ll" style="display:none;">
                <p style="color:#000000;font-size:20px">
                    Everyone should be familiar with the official Bushfire Warnings system. When there's a bushfire in your area, it's up to you to take notice, seek information, make decisions and act.
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFE10E; background: #000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show8();" id="nnn" class="btn-show">
                                >&nbspADVICE<br>
                                MONITOR CONDITIONS
                            </a>
                        </h4>
                        <div class="hpn" id="nn" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Monitor conditions and review your Bushfire Survival Plan.<br>

                                When an Advice warning is issued for your area, it indicates a fire or other emergency has started, however there is no immediate threat. At this level of warning you will be asked to stay informed.<br>

                                You should:<br>

                                •Note there is a fire nearby<br>
                                •Decide what you will do if the situation changes<br>
                                •Tune in to local radio or log on to the web or social media to stay informed<br>
                                •Review your <a href="https://www.ruralfire.qld.gov.au/BushFire_Safety/Pages/Create-your-bushfire-survival-plan.aspx" style="color:#1079dd">Bushfire Survival Plan.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FE901A; background: #000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show9();" id="ooo" class="btn-show">
                                >&nbspWATCH AND ACT<br>
                                CONDITIONS ARE CHANGING
                            </a>
                        </h4>
                        <div class="hpn" id="oo" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Start taking action and follow your Bushfire Survival Plan<br>

                                When a Watch & Act warning is issued for your area, there is a heightened level of threat, you need to be aware of your situation and take action to be prepared and protect yourself and your family. At this level of warning you will be asked either to leave now or be prepared to leave.<br>

                                Be aware that:<br>

                                •There is a heightened level of threat<br>
                                •Bushfire conditions in your area are changing<br>
                                •A fire is approaching you<br>
                                •Your life may come under threat<br>
                                •You need to start taking appropriate action now to protect yourself and your family<br>
                                •You could be impacted and should prepare to enact your <a href="https://www.ruralfire.qld.gov.au/BushFire_Safety/Pages/Create-your-bushfire-survival-plan.aspx" style="color:#76c896">Bushfire Survival Plan.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #F5121A; background: #000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show10();" id="ppp" class="btn-show">
                                >&nbspEMERGENCY WARNING<br>
                                YOU ARE IN DANGER
                            </a>
                        </h4>
                        <div class="hpn" id="pp" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Don't assume you'll receive a warning as a fire approaches and don't assume a fire crew will be available to assist every home. It's up to you to monitor conditions, know what the Fire Danger Rating is each day and to tune in to local media including radio, social media and websites.<br>
                                •Phone Triple Zero (000) for life threatening emergencies.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            @*  333*@
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show11();" id="qqq" class="btn-show">
                    >&nbspFIRE DANGER RATINGS
                </a>
            </h2>
            <div class="hpn" id="qq" style="display:none;">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #159878; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show12();" id="rrr" class="btn-show">
                                >&nbspLOW-MODERATE
                            </a>
                        </h4>
                        <div class="hpn" id="rr" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a 'low to moderate' rating can be easily controlled and pose little or no risk to life or property.<br>
                                During a fire with a 'low to moderate' rating, you should know where to get more information and monitor the situation for any changes.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #13A0D8; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show13();" id="sss" class="btn-show">
                                >&nbspHIGH
                            </a>
                        </h4>
                        <div class="hpn" id="ss" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a 'high' danger rating is a fire that can be controlled, where loss of life is unlikely and damage to property will be limited.<br>
                                During a fire with a 'high' danger rating, you should know where to get more information and monitor the situation for any changes.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #FFEF61; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show14();" id="ttt" class="btn-show">
                                >&nbspVERY HIGH
                            </a>
                        </h4>
                        <div class="hpn" id="tt" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a 'very high' danger rating is a fire that can be difficult to control, with flames that may burn into the tree tops. During a fire of this type, some homes and businesses may be damaged or destroyed.<br>
                                During a fire with a 'very high' danger rating, you should use your home as a place of safety only if it is well-prepared and well-constructed.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #FAAD38; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show15();" id="uuu" class="btn-show">
                                >&nbspSEVERE
                            </a>
                        </h4>
                        <div class="hpn" id="uu" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a 'severe' rating may be uncontrollable and move quickly, with flames that may be higher than roof tops. A 'severe' fire may cause injuries and some homes or businesses may be destroyed.<br>
                                During a fire with a 'severe' rating, leaving is the safest option for your survival. Use your home as a place of safety only if it is well-prepared and well-constructed.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #EC3D2E; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show16();" id="vvv" class="btn-show">
                                >&nbspEXTREME
                            </a>
                        </h4>
                        <div class="hpn" id="vv" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with an 'extreme' rating may be uncontrollable, unpredictable and fast moving. The flames will be higher than roof tops. During an 'extreme' fire, people may be injured and homes and businesses may be destroyed.<br>
                                During a fire with an 'extreme' rating, well-prepared and well-constructed homes may not be safe. Leaving is the only option for your survival.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #FF0000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show17();" id="www" class="btn-show">
                                >&nbspCATASTROPHIC
                            </a>
                        </h4>
                        <div class="hpn" id="ww" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a rating of 'catastrophic' may be uncontrollable, unpredictable and fast moving. The flames will be higher than roof tops. Many people may be injured and many homes and businesses may be destroyed.<br>
                                During a fire with a 'catastrophic' rating, well-prepared and well-constructed homes will not be safe. Leaving is the only option for your survival.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 style="color: #FFFFFF; background: #BA4A00; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">PREPARING BEFORE BUSHFIRES</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/bf-1.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Prepare"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 style="color: #FFFFFF; background: #BA4A00; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">RESPONDING DURING BUSHFIRES</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/bf-2.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Responding"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 style="color: #FFFFFF; background: #BA4A00; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">RECOVERING AFTER BUSHFIRES</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/bf-3.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Recovering"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:30%">
        <a href="~/Home/Explore">CLICK HERE TO GO BACK TO THE EXPLORE PAGE</a>
    </h4>
</div>


    











    @*       <div class="pn">
            <p class="slide"><a href="javascript:showdiv();" id="strhref" class="btn-show">简介</a></p>
            <p>女娃</p>
            <div class="hpn" id="mm" style="display:none;">
                <p>特点：人长得很特很特点</p>
                <p>爱好：看电影睡觉爬山</p>
            </div>
        </div>*@








    @* <p class="slide"><a href="javascript:showdiv();" id="abchref" class="btn-show">></a></p>*@



    <script type="text/javascript">
        function showdiv() {
            document.getElementById('mm').style.display = 'block';
            document.getElementById('strhref').innerHTML = "∨&nbspWHAT ARE BUSHFIRES?";
            document.getElementById('strhref').href = "javascript:hidediv()";
        }
        function hidediv() {
            document.getElementById('mm').style.display = 'none';
            document.getElementById('strhref').innerHTML = ">&nbspWHAT ARE BUSHFIRES?";
            document.getElementById('strhref').href = "javascript:showdiv()";

        }

        function showsdiv() {
            document.getElementById('cc').style.display = 'block';
            document.getElementById('abchref').innerHTML = "∨&nbspWHAT FACTORS CAUSE BUSHFIRES TO OCCUR?";
            document.getElementById('abchref').href = "javascript:hidesdiv()";
        }
        function hidesdiv() {
            document.getElementById('cc').style.display = 'none';
            document.getElementById('abchref').innerHTML = ">&nbspWHAT FACTORS CAUSE BUSHFIRES TO OCCUR?";
            document.getElementById('abchref').href = "javascript:showsdiv()";

        }

        function showssdiv() {
            document.getElementById('dd').style.display = 'block';
            document.getElementById('defhref').innerHTML = "∨&nbspARE BUSHFIRES NATURAL?"
            document.getElementById('defhref').href = "javascript:hidessdiv()";
        }
        function hidessdiv() {
            document.getElementById('dd').style.display = 'none';
            document.getElementById('defhref').innerHTML = ">&nbspARE BUSHFIRES NATURAL?";
            document.getElementById('defhref').href = "javascript:showssdiv()";

        }

        function showsssdiv() {
            document.getElementById('ee').style.display = 'block';
            document.getElementById('ghihref').innerHTML = "∨&nbspWHY ARE BUSHFIRES DANGEROUS?"
            document.getElementById('ghihref').href = "javascript:hidesssdiv()";
        }
        function hidesssdiv() {
            document.getElementById('ee').style.display = 'none';
            document.getElementById('ghihref').innerHTML = ">&nbspWHY ARE BUSHFIRES DANGEROUS?";
            document.getElementById('ghihref').href = "javascript:showsssdiv()";

        }

        function show1() {
            document.getElementById('ff').style.display = 'block';
            document.getElementById('fff').innerHTML = "∨&nbspWind speed"
            document.getElementById('fff').href = "javascript:hide1()";
        }
        function hide1() {
            document.getElementById('ff').style.display = 'none';
            document.getElementById('fff').innerHTML = ">&nbspWind speed";
            document.getElementById('fff').href = "javascript:show1()";
        }

        function show2() {
            document.getElementById('gg').style.display = 'block';
            document.getElementById('ggg').innerHTML = "∨&nbspFuel load"
            document.getElementById('ggg').href = "javascript:hide2()";
        }
        function hide2() {
            document.getElementById('gg').style.display = 'none';
            document.getElementById('ggg').innerHTML = ">&nbspFuel load";
            document.getElementById('ggg').href = "javascript:show2()";

        }
        function show3() {
            document.getElementById('hh').style.display = 'block';
            document.getElementById('hhh').innerHTML = "∨&nbspFuel moisture"
            document.getElementById('hhh').href = "javascript:hide3()";
        }
        function hide3() {
            document.getElementById('hh').style.display = 'none';
            document.getElementById('hhh').innerHTML = ">&nbspFuel moisture";
            document.getElementById('hhh').href = "javascript:show3()";

        }

        function show4() {
            document.getElementById('ii').style.display = 'block';
            document.getElementById('iii').innerHTML = "∨&nbspRelative humidity"
            document.getElementById('iii').href = "javascript:hide4()";
        }
        function hide4() {
            document.getElementById('ii').style.display = 'none';
            document.getElementById('iii').innerHTML = ">&nbspRelative humidity";
            document.getElementById('iii').href = "javascript:show4()";

        }

        function show5() {
            document.getElementById('jj').style.display = 'block';
            document.getElementById('jjj').innerHTML = "∨&nbspAmbient temperature"
            document.getElementById('jjj').href = "javascript:hide5()";
        }
        function hide5() {
            document.getElementById('jj').style.display = 'none';
            document.getElementById('jjj').innerHTML = ">&nbspAmbient temperature";
            document.getElementById('jjj').href = "javascript:show5()";

        }
        function show6() {
            document.getElementById('kk').style.display = 'block';
            document.getElementById('kkk').innerHTML = ">&nbspSlope angle"
            document.getElementById('kkk').href = "javascript:hide6()";
        }
        function hide6() {
            document.getElementById('kk').style.display = 'none';
            document.getElementById('kkk').innerHTML = ">&nbspSlope angle";
            document.getElementById('kkk').href = "javascript:show6()";

        }

        function show7() {
            document.getElementById('ll').style.display = 'block';
            document.getElementById('lll').innerHTML = "∨&nbspBUSHFIRE WARNINGS"
            document.getElementById('lll').href = "javascript:hide7()";
        }
        function hide7() {
            document.getElementById('ll').style.display = 'none';
            document.getElementById('lll').innerHTML = ">&nbspBUSHFIRE WARNINGS";
            document.getElementById('lll').href = "javascript:show7()";

        }

        function show8() {
            document.getElementById('nn').style.display = 'block';
            document.getElementById('nnn').innerHTML = "∨&nbspADVICE<br>MONITOR CONDITIONS"
            document.getElementById('nnn').href = "javascript:hide8()";
        }
        function hide8() {
            document.getElementById('nn').style.display = 'none';
            document.getElementById('nnn').innerHTML = ">&nbspADVICE<br>MONITOR CONDITIONS";
            document.getElementById('nnn').href = "javascript:show8()";

        }

        function show9() {
            document.getElementById('oo').style.display = 'block';
            document.getElementById('ooo').innerHTML = "∨&nbspWATCH AND ACT<br>CONDITIONS ARE CHANGING"
            document.getElementById('ooo').href = "javascript:hide9()";
        }
        function hide9() {
            document.getElementById('oo').style.display = 'none';
            document.getElementById('ooo').innerHTML = ">&nbspWATCH AND ACT<br>CONDITIONS ARE CHANGING";
            document.getElementById('ooo').href = "javascript:show9()";

        }

        function show10() {
            document.getElementById('pp').style.display = 'block';
            document.getElementById('ppp').innerHTML = "∨&nbspEMERGENCY WARNING<br>YOU ARE IN DANGER"
            document.getElementById('ppp').href = "javascript:hide10()";
        }
        function hide10() {
            document.getElementById('pp').style.display = 'none';
            document.getElementById('ppp').innerHTML = ">&nbspEMERGENCY WARNING<br>YOU ARE IN DANGER";
            document.getElementById('ppp').href = "javascript:show10()";

        }

        function show11() {
            document.getElementById('qq').style.display = 'block';
            document.getElementById('qqq').innerHTML = "∨&nbspFIRE DANGER RATINGS"
            document.getElementById('qqq').href = "javascript:hide11()";
        }
        function hide11() {
            document.getElementById('qq').style.display = 'none';
            document.getElementById('qqq').innerHTML = ">&nbspFIRE DANGER RATINGS";
            document.getElementById('qqq').href = "javascript:show11()";

        }

        function show12() {
            document.getElementById('rr').style.display = 'block';
            document.getElementById('rrr').innerHTML = "∨&nbspLOW-MODERATE"
            document.getElementById('rrr').href = "javascript:hide12()";
        }
        function hide12() {
            document.getElementById('rr').style.display = 'none';
            document.getElementById('rrr').innerHTML = ">&nbspLOW-MODERATE";
            document.getElementById('rrr').href = "javascript:show12()";

        }

        function show13() {
            document.getElementById('ss').style.display = 'block';
            document.getElementById('sss').innerHTML = "∨&nbspHIGH"
            document.getElementById('sss').href = "javascript:hide13()";
        }
        function hide13() {
            document.getElementById('ss').style.display = 'none';
            document.getElementById('sss').innerHTML = ">&nbspHIGH";
            document.getElementById('ss').href = "javascript:show13()";

        }

        function show14() {
            document.getElementById('tt').style.display = 'block';
            document.getElementById('ttt').innerHTML = "∨&nbspVERY HIGH"
            document.getElementById('ttt').href = "javascript:hide14()";
        }
        function hide14() {
            document.getElementById('tt').style.display = 'none';
            document.getElementById('ttt').innerHTML = ">&nbspVERY HIGH";
            document.getElementById('ttt').href = "javascript:show14()";

        }

        function show15() {
            document.getElementById('uu').style.display = 'block';
            document.getElementById('uuu').innerHTML = "∨&nbspSEVERE"
            document.getElementById('uuu').href = "javascript:hide15()";
        }
        function hide15() {
            document.getElementById('uu').style.display = 'none';
            document.getElementById('uuu').innerHTML = ">&nbspSEVERE";
            document.getElementById('uuu').href = "javascript:show15()";

        }

        function show16() {
            document.getElementById('vv').style.display = 'block';
            document.getElementById('vvv').innerHTML = "∨&nbspExtreme"
            document.getElementById('vvv').href = "javascript:hide16()";
        }
        function hide16() {
            document.getElementById('vv').style.display = 'none';
            document.getElementById('vvv').innerHTML = ">&nbspExtreme";
            document.getElementById('vvv').href = "javascript:show16()";

        }

        function show17() {
            document.getElementById('ww').style.display = 'block';
            document.getElementById('www').innerHTML = "∨&nbspCatastrophic"
            document.getElementById('www').href = "javascript:hide17()";
        }
        function hide17() {
            document.getElementById('ww').style.display = 'none';
            document.getElementById('www').innerHTML = ">&nbspCatastrophic";
            document.getElementById('www').href = "javascript:show17()";

        }
    </script>



    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        .pn {
            width: 400px;
            margin: 200px auto 0;
            background-color: #fff;
            text-align: center;
            padding: 0 100px;
        }

        .slide a {
            display: block;
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin: 0 auto;
            background-color: #fff;
            text-decoration: none;
            color: #000;
        }

        p:not(.cssonly) a[href$=".pdf"]:before {
            /* PDF file */
            width: 32px;
            height: 32px;
            background: url('http://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png');
            display: inline-block;
            content: ' ';
        }

        /* Add " (PDF)" text after links that go to PDFs */
        a[href$=".pdf"]:after {
            content: " (PDF)";
        }

        /* If file size specified as data attribute, use that too */
        a[href$=".pdf"][data-size]:after {
            content: " (PDF, " attr(data-size) ")";
        }

        html {
            font-size: 1em;
            line-height: 1.75;
            font-weight: 200;
            -webkit-font-smoothing: antialiased;
            color: #585451;
            font-family: sans-serif;
        }
        /* p {  background-color: gray; } */

        .cssonly a[href$=".pdf"]:after {
            /* PDF file */
            width: 16px;
            vertical-align: middle;
            margin: 4px 0 2px 4px;
            padding: 4px 0 1px 0px;
            background-color: #fff;
            color: red;
            border: 1px solid red;
            border-top-right-radius: 7px;
            box-shadow: 1px 1px #ccc;
            font-size: 7.7px;
            font-weight: 700;
            font-family: sans-serif;
            line-height: 16px;
            text-decoration: none;
            display: inline-block;
            box-sizing: content-box;
            content: 'PDF';
        }

        .cssonly a[href$=".doc"]:after,
        .cssonly a[href$=".docx"]:after {
            width: 16px;
            vertical-align: middle;
            margin: 4px 0 2px 4px;
            padding: 4px 0 1px 0px;
            background-color: #fff;
            color: #00d;
            border: 1px solid #00d;
            border-top-right-radius: 7px;
            box-shadow: 1px 1px #ccc;
            font-size: 7.7px;
            font-weight: 700;
            font-family: sans-serif;
            line-height: 16px;
            text-decoration: none;
            display: inline-block;
            box-sizing: content-box;
            content: 'DOC';
        }

        .cssonly a[href$=".xls"]:after,
        .cssonly a[href$=".xlsx"]:after {
            width: 16px;
            vertical-align: middle;
            margin: 4px 0 2px 4px;
            padding: 4px 0 1px 0px;
            background-color: #fff;
            color: #090;
            border: 1px solid #090;
            border-top-right-radius: 7px;
            box-shadow: 1px 1px #ccc;
            font-size: 8px;
            font-weight: 700;
            font-family: tahoma, arial, sans-serif;
            letter-spacing: 0.001em;
            line-height: 16px;
            text-decoration: none;
            display: inline-block;
            box-sizing: content-box;
            content: 'XLS';
        }
    </style>
