<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold; font-size:40px">Preparing Your<br> Family For Bushfires</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showdiv();" id="strhref" class="btn-show">
                    >&nbspPrepare your emergency kit
                </a>
            </h2>
            <div class="hpn" id="mm" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Your household should have an emergency kit packed and ready to go if you need to leave your home for a safer location. The information and templates in the<a href="https://www.cfa.vic.gov.au/plan-prepare/fire-ready-kit/" style="color: #1079dd"> Fire Ready Kit</a> and on the CFA website, are designed to assist you and your family to arrange the essential items.<br>
                    How to prepare a bushfire survival kit<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7gT7G63RGTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showssdiv();" id="defhref" class="btn-show">
                    >&nbspResearch hazards and disaster management arrangements in your community
                </a>
            </h2>
            <div class="hpn" id="dd" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    •	What potential hazards could impact your community? Is there any information on Disaster Management Plans for these hazards?<br>
                    &nbsp&nbsp&nbsp&nbspo	Check with your local library and local council for information and plans.<br>
                    &nbsp&nbsp&nbsp&nbspo	Check with your local council about local warning systems, evacuation process and nominated evacuation routes.<br>

                    •	Ask about emergency and evacuation plans at your workplace, school, and childcare providers. Check if they need details of your household emergency contacts.<br>

                    •	What local support is available?<br>
                    &nbsp&nbsp&nbsp&nbspo	Ask for contact details of local support agencies and record these on your Emergency Plan.<br>
                    &nbsp&nbsp&nbsp&nbspo	If your household will need support to evacuate, find out what assistance is available from local council and support agencies.<br>

                    •	Become familiar with weather warnings issued by the <a href="http://www.bom.gov.au/" style="color: #1079dd">Bureau of Meteorology website</a> and phone services<br>

                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsssdiv();" id="ghihref" class="btn-show">
                    >&nbspDiscuss possible scenarios and responses with your household.
                </a>
            </h2>
            <div class="hpn" id="ee" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    &nbsp&nbsp&nbsp&nbspo	Discuss each hazard and potential scenarios.<br>
                    &nbsp&nbsp&nbsp&nbspo	What would you do in the event of each emergency?<br>
                    &nbsp&nbsp&nbsp&nbspo	Where might you be when such an emergency occurs?<br>

                    •	Depending on the type of emergency, decide how you would keep in touch and where you would meet.<br>

                    •	You may need to prepare for evacuation. Discuss where to go if you were unable to return home or if you have to leave your home.<br>

                    •	Nominate two meeting places in case of an emergency, one nearby, another outside your neighbourhood, everyone can easily get to.<br>

                    •	Nominate two family members or friends who do not live with you (one local, one interstate) to be household emergency contacts in case you and your family become separated. Ensure everyone know how to contact these people.<br>

                    •	Discuss medical conditions of household members. Include essential medications and dosages in your Emergency Kit. Consider any special needs, including access to constant power, safe water or oxygen, and whether these are best met at home or an external location.<br>

                </p>
            </div>
        </div>
        @* 123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show10();" id="ppp" class="btn-show">
                    >&nbspRecord important details on your Emergency Plan
                </a>
            </h2>
            <div class="hpn" id="pp" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    &nbsp&nbsp&nbsp&nbspo	emergency and related phone numbers<br>
                    &nbsp&nbsp&nbsp&nbspo	Triple Zero (000)<br>
                    &nbsp&nbsp&nbsp&nbspo	medical services<br>
                    &nbsp&nbsp&nbsp&nbspo	local council<br>
                    &nbsp&nbsp&nbsp&nbspo	electricity and other service providers<br>
                    &nbsp&nbsp&nbsp&nbspo	insurance providers<br>
                    &nbsp&nbsp&nbsp&nbspo	relatives and friends<br>

                    •	All householder mobile phones, other numbers such as work, school, childcare providers, friends, neighbours and your household emergency contact numbers.<br>
                    •	Details of the two meeting places you have nominated.<br>
                    •	Any specific medical conditions, essential medications and dosage.<br>
                    •	Details for your pets—descriptions, photo, veterinarian contact details, medication.<br>
                    •	Radio frequency of your local ABCradio station, Bureau of Meteorology website and telephone weather services for local warnings.<br>
                </p>
            </div>
        </div>
        @* 123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsdiv();" id="abchref" class="btn-show">
                    >&nbspBack Up Plans
                </a>
            </h2>
            <div class="hpn" id="cc" style="display:none;">
                <p style="color:#000000;font-size:20px">
                    Fires are unpredictable and plans can fail. Having a back-up plan that identifies your shelter or last resort options may save you and your family’s life if you’ll are caught in a fire.
                    The following information is provided to assist you in understanding the different shelter options available. Your choice of backup shelter options should be made with your personal circumstances in mind and to suit the situation at the time.You may have to move from one place of shelter to another.<br>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show1();" id="fff" class="btn-show">
                                >&nbspShelter and last resort options
                            </a>
                        </h4>
                        <div class="hpn" id="ff" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                If leaving a high-risk area is no longer an option, your planned options are not possible or you have no plan and there is threat of bushfire you should be aware of what alternative shelter options are close by.<br>

                                Shelter options (not in any particular order) close by you may include a:<br>
                                •	<a href="https://www.cfa.vic.gov.au/plan-prepare/private-bushfire-shelters-or-bunkers/" style="color: #1079dd">Private bunker (that meets current regulations)</a><br>
                                •	<a href="https://www.cfa.vic.gov.au/plan-prepare/community-fire-refuges/" style="color: #1079dd">Community Fire Refuge</a><br>
                                •	<a href="https://www.cfa.vic.gov.au/plan-prepare/neighbourhood-safer-places" style="color: #1079dd">Neighbourhood Safer Places- place of last resort</a><br>
                                •	Privately arranged place of shelter: these are private places of shelter arranged by individuals. They may include: a well-prepared house (yours or your neighbour’s) or another building that is in an area of lower risk. Private places of shelter may not be safe in all circumstances. If you decide to use private places of shelter, you are responsible for assessing its suitability, including whether the property can and will be defended if required.

                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show2();" id="ggg" class="btn-show">
                                >&nbspSheltering in a house during bushfire
                            </a>
                        </h4>
                        <div class="hpn" id="gg" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                If sheltering in a house or another building during a bushfire, you must:<br>
                                •	Actively monitor and defend the house while inside during this time. Check for embers in the roof space and elsewhere in the house<br>
                                •	Make sure you have a point of exit to the outside in every room used as a shelter. Do not shelter in the bathroom as it typically has only one door and a small window that is often frosted<br>
                                •	Remain alert and maintain visibility with the outside to know what is happening with the fire<br>
                                •	Keep hydrated, drink water even if you don’t feel thirsty<br>
                                •	If the house catches fire, move through the house away from the rooms on fire, closing doors behind you<br>
                                •	Plan an exit strategy for when the fire front has passed, or it is no longer safe to shelter in the house<br>
                                &nbsp&nbsp&nbsp&nbsp o	Move outside to burnt ground as soon as you can<br>
                                &nbsp&nbsp&nbsp&nbsp o	If it is no longer safe to shelter in the house but still too hot outside in the open, seek another shelter option
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show3();" id="hhh" class="btn-show">
                                >&nbspOther last resort options
                            </a>
                        </h4>
                        <div class="hpn" id="hh" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                If you are unable to find shelter in the above locations you may have to seek shelter in any available place such as:<br>
                                •	Ploughed paddock or reserve<br>
                                •	Body of water (beach, pool, dam or river). This does not include a water tank. Dams may not be reliable as their water levels fluctuate and they may be empty in summer.<br>
                                •	Stationary car in a cleared area.<a href="https://www.cfa.vic.gov.au/plan-prepare/staying-safe-in-the-car/" style="color: #1079dd"> Learn how to protect yourself if caught in the car.</a><br>
                                While such places may provide a degree of safety, they do not offer good protection from radiant heat or other dangers. They are likely to involve high-risk of physical and mental trauma, injury or death.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show4();" id="iii" class="btn-show">
                                >&nbspProtect yourself from radiant heat
                            </a>
                        </h4>
                        <div class="hpn" id="ii" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                •	Cover up exposed skin - Wear protective clothing and sturdy shoes such as boots (not sandals or runners). Cover yourself with a dry woollen blanket.<br>
                                •	Distance is the best protection. Move as far away as you can from the fire.<br>
                                •	Get behind a solid object or barrier such as a brick wall.<br>
                                Given the high likelihood of death or serious injury in such situations, it is critical that you understand the need to do everything possible to avoid having to use these last resort options<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show9();" id="ooo" class="btn-show">
                    >&nbspResources
                </a>
            </h2>
            <div class="hpn" id="oo" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    <img src="~/img/pdf.png"><a href="https://cdn.cfa.vic.gov.au/documents/20143/70643/bushfire_survival_options.pdf/2b66f303-9b4a-bd97-57f6-d713cc39d7b6?t=1506150111830" style="color: #1079dd">  •	 Bushfire survival options poster (PDF 451k)</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:27%">
        <a href="~/Home/Bushfire">CLICK HERE TO GO BACK TO THE BUSHFIRES MAIN PAGE</a>
    </h4>
</div>





            <script type="text/javascript">
                function showdiv() {
                    document.getElementById('mm').style.display = 'block';
                    document.getElementById('strhref').innerHTML = "∨&nbspPrepare your emergency kit";
                    document.getElementById('strhref').href = "javascript:hidediv()";
                }
                function hidediv() {
                    document.getElementById('mm').style.display = 'none';
                    document.getElementById('strhref').innerHTML = ">&nbspPrepare your emergency kit";
                    document.getElementById('strhref').href = "javascript:showdiv()";

                }

                function showsdiv() {
                    document.getElementById('cc').style.display = 'block';
                    document.getElementById('abchref').innerHTML = "∨&nbspBack Up Plans";
                    document.getElementById('abchref').href = "javascript:hidesdiv()";
                }
                function hidesdiv() {
                    document.getElementById('cc').style.display = 'none';
                    document.getElementById('abchref').innerHTML = ">&nbspBack Up Plans";
                    document.getElementById('abchref').href = "javascript:showsdiv()";

                }

                function showssdiv() {
                    document.getElementById('dd').style.display = 'block';
                    document.getElementById('defhref').innerHTML = "∨&nbspResearch hazards and disaster management arrangements in your community"
                    document.getElementById('defhref').href = "javascript:hidessdiv()";
                }
                function hidessdiv() {
                    document.getElementById('dd').style.display = 'none';
                    document.getElementById('defhref').innerHTML = ">&nbspResearch hazards and disaster management arrangements in your community";
                    document.getElementById('defhref').href = "javascript:showssdiv()";

                }

                function showsssdiv() {
                    document.getElementById('ee').style.display = 'block';
                    document.getElementById('ghihref').innerHTML = "∨&nbspDiscuss possible scenarios and responses with your household."
                    document.getElementById('ghihref').href = "javascript:hidesssdiv()";
                }
                function hidesssdiv() {
                    document.getElementById('ee').style.display = 'none';
                    document.getElementById('ghihref').innerHTML = ">&nbspDiscuss possible scenarios and responses with your household.";
                    document.getElementById('ghihref').href = "javascript:showsssdiv()";

                }

                function show1() {
                    document.getElementById('ff').style.display = 'block';
                    document.getElementById('fff').innerHTML = "∨&nbspShelter and last resort options"
                    document.getElementById('fff').href = "javascript:hide1()";
                }
                function hide1() {
                    document.getElementById('ff').style.display = 'none';
                    document.getElementById('fff').innerHTML = ">&nbspShelter and last resort options";
                    document.getElementById('fff').href = "javascript:show1()";
                }

                function show2() {
                    document.getElementById('gg').style.display = 'block';
                    document.getElementById('ggg').innerHTML = "∨&nbspSheltering in a house during bushfire"
                    document.getElementById('ggg').href = "javascript:hide2()";
                }
                function hide2() {
                    document.getElementById('gg').style.display = 'none';
                    document.getElementById('ggg').innerHTML = ">&nbspSheltering in a house during bushfire";
                    document.getElementById('ggg').href = "javascript:show2()";

                }
                function show3() {
                    document.getElementById('hh').style.display = 'block';
                    document.getElementById('hhh').innerHTML = "∨&nbspOther last resort options"
                    document.getElementById('hhh').href = "javascript:hide3()";
                }
                function hide3() {
                    document.getElementById('hh').style.display = 'none';
                    document.getElementById('hhh').innerHTML = ">&nbspOther last resort options";
                    document.getElementById('hhh').href = "javascript:show3()";

                }

                function show4() {
                    document.getElementById('ii').style.display = 'block';
                    document.getElementById('iii').innerHTML = "∨&nbspProtect yourself from radiant heat"
                    document.getElementById('iii').href = "javascript:hide4()";
                }
                function hide4() {
                    document.getElementById('ii').style.display = 'none';
                    document.getElementById('iii').innerHTML = ">&nbspProtect yourself from radiant heat";
                    document.getElementById('iii').href = "javascript:show4()";

                }

                function show5() {
                    document.getElementById('jj').style.display = 'block';
                    document.getElementById('jjj').innerHTML = "∨&nbspAmbient temperature"
                    document.getElementById('jjj').href = "javascript:hide5()";
                }
                function hide5() {
                    document.getElementById('jj').style.display = 'none';
                    document.getElementById('jjj').innerHTML = ">&nbspAmbient temperature";
                    document.getElementById('jjj').href = "javascript:show5()";

                }
                function show6() {
                    document.getElementById('kk').style.display = 'block';
                    document.getElementById('kkk').innerHTML = ">&nbspSlope angle"
                    document.getElementById('kkk').href = "javascript:hide6()";
                }
                function hide6() {
                    document.getElementById('kk').style.display = 'none';
                    document.getElementById('kkk').innerHTML = ">&nbspSlope angle";
                    document.getElementById('kkk').href = "javascript:show6()";

                }

                function show7() {
                    document.getElementById('ll').style.display = 'block';
                    document.getElementById('lll').innerHTML = "∨&nbspBushfire Warnings"
                    document.getElementById('lll').href = "javascript:hide7()";
                }
                function hide7() {
                    document.getElementById('ll').style.display = 'none';
                    document.getElementById('lll').innerHTML = ">&nbspBushfire Warnings";
                    document.getElementById('lll').href = "javascript:show7()";

                }

                function show8() {
                    document.getElementById('nn').style.display = 'block';
                    document.getElementById('nnn').innerHTML = "∨&nbspADVICE<br>MONITOR CONDITIONS"
                    document.getElementById('nnn').href = "javascript:hide8()";
                }
                function hide8() {
                    document.getElementById('nn').style.display = 'none';
                    document.getElementById('nnn').innerHTML = ">&nbspADVICE<br>MONITOR CONDITIONS";
                    document.getElementById('nnn').href = "javascript:show8()";

                }

                function show9() {
                    document.getElementById('oo').style.display = 'block';
                    document.getElementById('ooo').innerHTML = "∨&nbspResources"
                    document.getElementById('ooo').href = "javascript:hide9()";
                }
                function hide9() {
                    document.getElementById('oo').style.display = 'none';
                    document.getElementById('ooo').innerHTML = ">&nbspResources";
                    document.getElementById('ooo').href = "javascript:show9()";

                }

                function show10() {
                    document.getElementById('pp').style.display = 'block';
                    document.getElementById('ppp').innerHTML = "∨&nbspRecord important details on your Emergency Plan"
                    document.getElementById('ppp').href = "javascript:hide10()";
                }
                function hide10() {
                    document.getElementById('pp').style.display = 'none';
                    document.getElementById('ppp').innerHTML = ">&nbspRecord important details on your Emergency Plan";
                    document.getElementById('ppp').href = "javascript:show10()";

                }</script>



            <style type="text/css">
                * {
                    padding: 0;
                    margin: 0;
                }

                .pn {
                    width: 400px;
                    margin: 200px auto 0;
                    background-color: #fff;
                    text-align: center;
                    padding: 0 100px;
                }

                .slide a {
                    display: block;
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    margin: 0 auto;
                    background-color: #fff;
                    text-decoration: none;
                    color: #000;
                }
            </style>
