<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8" style="margin-left:350px">
                        <div class="slider_text">
                            <h3 style="font-family: Ubuntu-Bold">
                                Florecuva
                            </h3>
                            <p>Our website is dedicated to helping users understand Australian High Country, you can learn about bushfire, vegetation and other information on our website.</p>
                            <a href="~/Home/Explore" class="boxed-btn3" style="font:20px lato">Let's start exploring</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8" style="margin-left:350px">
                        <div class="slider_text">
                            <h3 style="font-family: Ubuntu-Bold">
                                Tackling Bushfires
                            </h3>
                            <p>Our website is dedicated to helping users understand Australian High Country, you can learn about bushfire, vegetation and other information on our website.</p>
                            <a href="~/Home/Explore" class="boxed-btn3" style="font:20px lato">Let's start exploring</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8" style="margin-left:350px">
                        <div class="slider_text">
                            <h3 style="font-family: Ubuntu-Bold">
                                Safeguarding Vegetations
                            </h3>
                            <p>Our website is dedicated to helping users understand Australian High Country, you can learn about bushfire, vegetation and other information on our website.</p>
                            <a href="~/Home/Explore" class="boxed-btn3" style="font:20px lato">Let's start exploring</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

