<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold">Preparing Before Bushfires</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showdiv();" id="strhref" class="btn-show">
                    >&nbspKNOW
                </a>
            </h2>
            <div class="hpn" id="mm" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Get to know about the bushfire risks and plan your alerts in real time. For this it is important to get reliable and up-to-date information from trusted sources such as <a href="https://www.cfa.vic.gov.au/home" style= "color:#1079dd">Country Fire Authority</a>, the <a href="https://www.abc.net.au/news/emergency/" style= "color:#1079dd">ABC Emergency page</a> and <a href="http://www.bom.gov.au/australia/warnings/" style= "color:#1079dd">Bureau of Meteorology weather warnings</a> online.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsdiv();" id="abchref" class="btn-show">
                    >&nbspCONNECT
                </a>
            </h2>
            <div class="hpn" id="cc" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Get connected and plan who you will need to contact and find during bushfire emergencies. It is important to make sure you have swapped contact details with your neighbours and other local contacts so as to reach out to them and also keep your key contacts updated about where you intend to go in such situations if needed.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showssdiv();" id="defhref" class="btn-show">
                    >&nbspORGANISE
                </a>
            </h2>
            <div class="hpn" id="dd" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Get organised and store or save your important personal and insurance documents in order to make it easier for the recovery phase after the bushfire disaster is over. Also, remember to include important medical documents from your doctor.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsssdiv();" id="ghihref" class="btn-show">
                    >&nbspPACK
                </a>
            </h2>
            <div class="hpn" id="ee" style="display:none;">
                <p style="color:#000000;font-size:20px">
                    Get ready by packing bushfire emergency kits with the important items and documents that are vital for surviving bushfires along with items that might be precious to you and important for your recovery.
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show1();" id="fff" class="btn-show">
                                >&nbspSurvival items
                            </a>
                        </h4>
                        <div class="hpn" id="ff" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Items needed if there is no power supply or water, no shops open or even no roads accessible to leave.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show2();" id="ggg" class="btn-show">
                                >&nbspRecovery items
                            </a>
                        </h4>
                        <div class="hpn" id="gg" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Items needed to bring life back to normal such as sentimental artefacts and important personal documents.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
                <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                    <a href="javascript:show3();" id="hhh" class="btn-show">
                        >&nbspHAVE YOUR FIVE MINUTES FIRE-CHAT WITH YOUR FAMILY
                    </a>
                </h2>
                <div class="hpn" id="hh" style="display:none;">
                    <p style="color:#000000; font-size:20px">
                        Discuss important questions like:<br>
                        -	When will you know to leave?<br>
                        -	Where will you go?<br>
                        -	Which way will you go?
                    </p>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 style="color: #FFFFFF; background: #BA4A00; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">PREPARING YOUR PROPERTY FOR <br>BUSHFIRES</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/bf-1.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Property"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 style="color: #FFFFFF; background: #BA4A00; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">PREPARING YOUR VEGETATION FOR BUSHFIRES</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/bf-2.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Vegetation"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 style="color: #FFFFFF; background: #BA4A00; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">PREPARING YOUR LIVESTOCK FOR BUSHFIRES</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/bf-3.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Livestock"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 style="color: #FFFFFF; background: #BA4A00; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">PREPARING YOUR FAMILY FOR <br>BUSHFIRES</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/bf-3.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Family"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:27%">
        <a href="~/Home/Explore">CLICK HERE TO GO BACK TO THE BUSHFIRE MAIN PAGE</a>
    </h4>
</div>

                    <script type="text/javascript">
                        function showdiv() {
                            document.getElementById('mm').style.display = 'block';
                            document.getElementById('strhref').innerHTML = "∨&nbspKNOW";
                            document.getElementById('strhref').href = "javascript:hidediv()";
                        }
                        function hidediv() {
                            document.getElementById('mm').style.display = 'none';
                            document.getElementById('strhref').innerHTML = ">&nbspKNOW";
                            document.getElementById('strhref').href = "javascript:showdiv()";

                        }

                        function showsdiv() {
                            document.getElementById('cc').style.display = 'block';
                            document.getElementById('abchref').innerHTML = ">&nbspCONNECT";
                            document.getElementById('abchref').href = "javascript:hidesdiv()";
                        }
                        function hidesdiv() {
                            document.getElementById('cc').style.display = 'none';
                            document.getElementById('abchref').innerHTML = ">&nbspCONNECT";
                            document.getElementById('abchref').href = "javascript:showsdiv()";

                        }

                        function showssdiv() {
                            document.getElementById('dd').style.display = 'block';
                            document.getElementById('defhref').innerHTML = "∨&nbspORGANISE"
                            document.getElementById('defhref').href = "javascript:hidessdiv()";
                        }
                        function hidessdiv() {
                            document.getElementById('dd').style.display = 'none';
                            document.getElementById('defhref').innerHTML = ">&nbspORGANISE";
                            document.getElementById('defhref').href = "javascript:showssdiv()";

                        }

                        function showsssdiv() {
                            document.getElementById('ee').style.display = 'block';
                            document.getElementById('ghihref').innerHTML = "∨&nbspPACK"
                            document.getElementById('ghihref').href = "javascript:hidesssdiv()";
                        }
                        function hidesssdiv() {
                            document.getElementById('ee').style.display = 'none';
                            document.getElementById('ghihref').innerHTML = ">&nbspPACK";
                            document.getElementById('ghihref').href = "javascript:showsssdiv()";

                        }

                        function show1() {
                            document.getElementById('ff').style.display = 'block';
                            document.getElementById('fff').innerHTML = "∨&nbspSurvival items"
                            document.getElementById('fff').href = "javascript:hide1()";
                        }
                        function hide1() {
                            document.getElementById('ff').style.display = 'none';
                            document.getElementById('fff').innerHTML = ">&nbspSurvival items";
                            document.getElementById('fff').href = "javascript:show1()";
                        }

                        function show2() {
                            document.getElementById('gg').style.display = 'block';
                            document.getElementById('ggg').innerHTML = "∨&nbspRecovery items"
                            document.getElementById('ggg').href = "javascript:hide2()";
                        }
                        function hide2() {
                            document.getElementById('gg').style.display = 'none';
                            document.getElementById('ggg').innerHTML = ">&nbspRecovery items";
                            document.getElementById('ggg').href = "javascript:show2()";

                        }
                        function show3() {
                            document.getElementById('hh').style.display = 'block';
                            document.getElementById('hhh').innerHTML = "∨&nbspHAVE YOUR FIVE MINUTES FIRE-CHAT WITH YOUR FAMILY"
                            document.getElementById('hhh').href = "javascript:hide3()";
                        }
                        function hide3() {
                            document.getElementById('hh').style.display = 'none';
                            document.getElementById('hhh').innerHTML = ">&nbspHAVE YOUR FIVE MINUTES FIRE-CHAT WITH YOUR FAMILY";
                            document.getElementById('hhh').href = "javascript:show3()";

                        }

                        function show4() {
                            document.getElementById('ii').style.display = 'block';
                            document.getElementById('iii').innerHTML = "∨&nbspRelative humidity"
                            document.getElementById('iii').href = "javascript:hide4()";
                        }
                        function hide4() {
                            document.getElementById('ii').style.display = 'none';
                            document.getElementById('iii').innerHTML = ">&nbspRelative humidity";
                            document.getElementById('iii').href = "javascript:show4()";

                        }

                        function show5() {
                            document.getElementById('jj').style.display = 'block';
                            document.getElementById('jjj').innerHTML = "∨&nbspAmbient temperature"
                            document.getElementById('jjj').href = "javascript:hide5()";
                        }
                        function hide5() {
                            document.getElementById('jj').style.display = 'none';
                            document.getElementById('jjj').innerHTML = ">&nbspAmbient temperature";
                            document.getElementById('jjj').href = "javascript:show5()";

                        }
                        function show6() {
                            document.getElementById('kk').style.display = 'block';
                            document.getElementById('kkk').innerHTML = "∨&nbspSlope angle"
                            document.getElementById('kkk').href = "javascript:hide6()";
                        }
                        function hide6() {
                            document.getElementById('kk').style.display = 'none';
                            document.getElementById('kkk').innerHTML = ">&nbspSlope angle";
                            document.getElementById('kkk').href = "javascript:show6()";

                        }</script>



                    <style type="text/css">
                        * {
                            padding: 0;
                            margin: 0;
                        }

                        .pn {
                            width: 400px;
                            margin: 200px auto 0;
                            background-color: #fff;
                            text-align: center;
                            padding: 0 100px;
                        }

                        .slide a {
                            display: block;
                            width: 100px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            margin: 0 auto;
                            background-color: #fff;
                            text-decoration: none;
                            color: #000;
                        }
                    </style>


