<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold; font-size:40px">Preparing Your <br>property For Bushfires</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom: 20px;">
    <h3 style="font-family: Lato">
        Everyone in Victoria who lives near dense forest, alpine regions, bushland, grassland or the coast needs to prepare their property for bushfire.<br>
        <br>
        An unprepared property is not only at risk to itself but also presents an increased risk and danger for the neighbours. If you live in a bushfire-prone area, here are some things you should do every year to prepare your home for bushfire season.
    </h3>
    <h4 style="font-family: Lato">
        <br>
        •	Ensure your house number is clearly displayed (for emergency service crews)<br>
        •	Mow your lawn regularly<br>
        •	Remove excess combustible material (e.g. dry grass, dead leaves and branches) from your yard<br>
        •	Move any flammable items such as wood piles, paper, boxes, crates and garden furniture well away from the house<br>
        •	Trim low-lying branches (those under 2m in height)<br>
        •	Keep gutters clear of leaf litter<br>
        •	Buy and test gutter plugs<br>
        •	Enclose open areas under decks and verandas<br>
        •	Install fine steel wire mesh screens on all windows and doors<br>
        •	Make sure any LPG cylinders are upright and relief valves are pointed away from the house<br>
        •	Check that pumps, generators and water systems are working<br>
        •	Replace any damaged roofing and seal any gaps in the external structure<br>
        •	Check that your first-aid kit is fully stocked<br>
        •	Ensure there is adequate access to your property in case of emergencies – i.e., have at least 4 metres wide and 4 metres high turn-around area available for fire trucks to become accessible<br>
        •	Ensure the house or property number is clearly displayed and visible in case it is required during an emergency
    </h4>
    <h3 style="font-family: Lato">
        <a href="https://www.cfa.vic.gov.au/documents/20143/71585/Your-Guide-to-Property-Preparation_WEB.pdf/a0cfdac9-99ca-48e6-d36f-b3a5ef9c6a9c" style="color:#1079dd">
            Have a look at CFA’s guide to property preparation here! </a><br>
</h3>
    <br>
    </div>
<div class="container" style="margin-left:580px">
    <h3 style="font-family: Lato">
        How to prepare your home for bushfires
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/icQp8uoBEL0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <h3 style="font-family: Lato">
        Bushfire preparedness for small landowners
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YqCF_QFCp0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
</div>
<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:20%">
        <a href="~/Home/Vegetation">CLICK HERE TO KNOW HOW TO PREPARE YOUR VEGETATION BEFORE BUSHFIRES</a>
    </h4>
</div>