<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold">Recovering After Bushfires</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show23();" id="zxc" class="btn-show">
                    >&nbspRECOVERINGAFTER BUSHFIRES
                </a>
            </h2>
            <div class="hpn" id="zx" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Relief and recovery from bushfires is normally coordinated by councils. Support services and recovery advice is available on this website, at your local relief centre or by <a href="https://knowyourcouncil.vic.gov.au/" style="color: #1079dd">Contacting your council</a> for information.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsdiv();" id="abchref" class="btn-show">
                    >&nbspCOUNCIL INFORMATION
                </a>
            </h2>
            <div class="hpn" id="cc" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Councils can download facts sheets and recovery specific information for their communities via the <a href="https://files-em.em.vic.gov.au/public/RelRec/Portals/EMP-Menu-RRDP.htm" style="color: #1079dd">Emergency Management Relief and Recovery Communications Portal</a>. This includes information collated from across government department and agencies websites.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsssdiv();" id="ghihref" class="btn-show">
                    >&nbspRETURNING HOME AFTER A FIRE
                </a>
            </h2>
            <div class="hpn" id="ee" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Houses, sheds and other buildings or structures burnt in a bushfire can leave potential health hazards. These may include fallen or sharp objects, smouldering coals, damaged electrical wires, leaking gas and weakened walls.<br>
                    When returning to your property, make sure you are aware of the dangers and take steps to protect your health and safety.<br>
                    If your home has been damaged by the fire or smells of smoke from bushfires, here’s some info for <a href="http://www.health.vic.gov.au/environment/bushfires-cleaning-smoke-home.htm" style="color: #1079dd">cleaning up a smoke-affected home.</a><br>
                    Ash from timber treated with a preservative call Copper chrome arsenate (CCA) is dangerous. Freshly treated CCA timber may pose a health hazard after a fire. Check out what to do <a href="http://www.health.vic.gov.au/environment/bushfires-ash.htm" style="color: #1079dd">here.</a><br>
                    Red Cross provides great safety information about <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/bushfires-and-water-tanks" style="color: #1079dd">returning home after a bushfire.</a>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showssdiv();" id="defhref" class="btn-show">
                    >&nbspBUSHFIRES AND WATER TANKS
                </a>
            </h2>
            <div class="hpn" id="dd" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    If your area is affected by bushfires, your water source could become contaminated from debris, ash or small dead animals. Here's how to<a href="http://www.health.vic.gov.au/environment/bushfires-private-water-sources.htm" style="color: #1079dd"> reduce your risk.</a><br>
                    Also, you should not source water from a creek that has been affected by bushfire as the water may be contaminated.<br>
                    Water drawn from deep bores or wells should still be safe to use. If you suspect contamination, use an alternative water supply for drinking and food preparation.<br>
                    Here’s some safety information on <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/bushfires-and-water-tanks" style="color: #1079dd">bushfire and water tanks</a>.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show30();" id="300" class="btn-show">
                    >&nbspFARM RECOVERY
                </a>
            </h2>
            <div class="hpn" id="30" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Agriculture Victoria has <a href="http://agriculture.vic.gov.au/agriculture/emergencies/recovery/farm-and-land-recovery-after-bushfire" style="color: #1079dd">information for landholders</a> about managing bushfire affected crops, water supplies, soils and pastures.<br>
                    If you’re looking for information about assisting <a href="http://agriculture.vic.gov.au/agriculture/emergencies/recovery/livestock-after-an-emergency" style="color: #1079dd">livestock after an emergency</a>, Agriculture Victoria has information to assist with managing livestock and horses.<br>
                    The Department of Environment, Land, Water and Planning website has details for landholders for repair of fences and the replacement of essential water after a bushfire -<a href="http://www.delwp.vic.gov.au/fire-and-emergencies/Fences-and-control-lines-after-bushfire" style="color: #1079dd"> Fences, control lines and essential water after bushfire</a>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show18();" id="xxx" class="btn-show">
                    >&nbspPOWER OUTAGES
                </a>
                </h2>
                <div class="hpn" id="xx" style="display:none;">
                    <p style="color: #000000; font-size: 20px">
                        When power outages occur, people often turn to alternative sources of fuel or electricity. <a href="http://www.health.vic.gov.au/environment/bushfires-power-blackouts.htm" style="color: #1079dd">Here's how to stay safe.</a><br>
                        Find out what to do during a power outage in the <a href="https://www.energy.vic.gov.au/safety-and-emergencies/power-outages" style="color: #1079dd">guide to power outages.</a>
                    </p>
                </div>

        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show19();" id="yyy" class="btn-show">
                    >&nbspINSURANCE
                </a>
            </h2>
            <div class="hpn" id="yy" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    Contact your insurance company as soon as possible and seek advice about the claims process. For detailed information on what to do visit<a href="http://understandinsurance.com.au/types-of-disasters/bushfires" style="color: #1079dd"> Understand Insurance</a>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show9();" id="ooo" class="btn-show">
                    >&nbspYOUR HEALTH
                </a>
            </h2>
            <div class="hpn" id="oo" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    Your own health and safety can be at risk after an emergency. The Better Health Channel provides information to be aware of for <a href="https://www.betterhealth.vic.gov.au/health/HealthyLiving/bushfire-aftermath-safety-tips" style="color: #1079dd">your health after an emergency.</a>
                </p>
            </div>
        </div>
        <div class="col-md-12">
           <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show10();" id="ppp" class="btn-show">
                    >&nbspYOUR FAMILY & FRIENDS
                </a>
            </h2>
            <div class="hpn" id="pp" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    The Australian Red Cross activates the<a href="https://register.redcross.org.au/" style="color: #1079dd"> Register, Find, Reunite </a>service to reunite family, friends and loved ones after a major emergency.
                </p>
            </div>
        </div>
        <div class="col-md-12">
          <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show4();" id="iii" class="btn-show">
                    >&nbspEMOTIONAL ASSISTANCE
                </a>
            </h2>
            <div class="hpn" id="ii" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    It is normal to have strong emotional or physical reactions after an emergency – these feelings are part of the healing process. Here are some strategies for coping with<a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/trauma-reaction-and-recovery" style="color: #1079dd"> trauma in recovery.</a><br>
                    In families, each person reacts in their own way after an emergency. Understanding each other and some of the common reactions to look out for can help your family. The better health channel has more info about <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/trauma-and-families" style="color: #1079dd">trauma and families.</a><br>
                    •	<a href="http://www.lifeline.org.au/" style="color: #1079dd">LifeLine</a> – phone 131 114 - A 24-hour telephone service that offers confidential support and advice to help you deal with stress and personal challenges.<br>
                    •	<a href="http://www.beyondblue.org.au/index.aspx?" style="color: #1079dd">Beyondblue information line</a>  – phone 1300 224 636 - An information line that offers expert information on depression; how to recognise the signs of depression, how to get help, how to help someone else and how to stay well.<br>
                    •	<a href="http://www.mensline.org.au/" style="color: #1079dd">Mensline</a>  – phone 1300 789 978 - A telephone support, information and referral service, helping men deal with their relationship problems.<br>
                    •	<a href="http://www.health.vic.gov.au/nurseoncall" style="color: #1079dd">Nurse-on-Call</a>  – phone 1300 60 60 24 - A 24-hour telephone service that allows people to discuss any health-related issue with a registered nurse for the cost of a local call.
                </p>
            </div>
        </div>
        <div class="col-md-12">
           <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show5();" id="jjj" class="btn-show">
                    >&nbspFINANCIAL ASSISTANCE
                </a>
            </h2>
            <div class="hpn" id="jj" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    The <a href="http://www.dhs.vic.gov.au/for-individuals/crisis-and-emergency/financial-crisis-support/personal-hardship-assistance-program" style="color: #1079dd">Personal Hardship Assistance Program</a> provides financial assistance to alleviate personal hardship and distress suffered by eligible Victorians as a result of an emergency.<br>
                    The <a href="https://www.ato.gov.au/Individuals/Dealing-with-disasters/" style="color: #1079dd">Australian Tax Office</a> has general information about help available for people affected by emergencies.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show6();" id="kkk" class="btn-show">
                    >&nbspCONSUMER AFFAIRS
                </a>
            </h2>
            <div class="hpn" id="kk" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    The <a href="http://www.consumer.vic.gov.au/disasterhelp" style="color: #1079dd">Consumer Affairs Victoria</a> website provides information and advice about your rights and obligations following an emergency:<br>
                    •	Renting and rebuilding (with advice about travelling con men)<br>
                    •	Insurance, banking and financial hardship<br>
                    •	Fundraising scams<br>
                    •	Price rip-offs
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show21();" id="qwe" class="btn-show">
                    >&nbspLEGAL ASSISTANCE
                </a>
            </h2>
            <div class="hpn" id="qw" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    <a href="http://www.disasterlegalhelp.org.au/" style="color: #1079dd">Disaster Legal Help Victoria</a> provides free legal advice, assistance and referrals to people affected by a disaster. If you have been affected by the recent bushfires, they can help with issues such as insurance claims, tenancy disputes, debt and other financial problems.
                    For assistance, please phone Disaster Legal Help Victoria's free helpline on 1800 113 432. This phone line is open throughout the year between 8am and 6pm, Monday to Friday.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show24();" id="244" class="btn-show">
                    >&nbspFURTHER INFORMATION
                </a>
            </h2>
            <div class="hpn" id="24" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    You can find out more about the services available to you by calling the VicEmergency Hotline on 1800 226 226.
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:470px">
        <a href="~/Home/Bushfire">CLICK HERE TO GO BACK TO THE BUSHFIRES MAIN PAGE</a>
    </h4>
</div>
















        <script type="text/javascript">
    function showdiv() {
                document.getElementById('mm').style.display = 'block';
                document.getElementById('strhref').innerHTML = "∨&nbspSTAY INFORMED ABOUT THE BUSHFIRE WARNINGS";
                document.getElementById('strhref').href = "javascript:hidediv()";
            }
            function hidediv() {
                document.getElementById('mm').style.display = 'none';
                document.getElementById('strhref').innerHTML = ">&nbspSTAY INFORMED ABOUT THE BUSHFIRE WARNINGS";
                document.getElementById('strhref').href = "javascript:showdiv()";

            }

            function showsdiv() {
                document.getElementById('cc').style.display = 'block';
                document.getElementById('abchref').innerHTML = "∨&nbspCOUNCIL INFORMATION";
                document.getElementById('abchref').href = "javascript:hidesdiv()";
            }
            function hidesdiv() {
                document.getElementById('cc').style.display = 'none';
                document.getElementById('abchref').innerHTML = ">&nbspCOUNCIL INFORMATION";
                document.getElementById('abchref').href = "javascript:showsdiv()";

            }

            function showssdiv() {
                document.getElementById('dd').style.display = 'block';
                document.getElementById('defhref').innerHTML = "∨&nbspBUSHFIRES AND WATER TANKS"
                document.getElementById('defhref').href = "javascript:hidessdiv()";
            }
            function hidessdiv() {
                document.getElementById('dd').style.display = 'none';
                document.getElementById('defhref').innerHTML = ">&nbspBUSHFIRES AND WATER TANKS";
                document.getElementById('defhref').href = "javascript:showssdiv()";

            }

            function showsssdiv() {
                document.getElementById('ee').style.display = 'block';
                document.getElementById('ghihref').innerHTML = "∨&nbspRETURNING HOME AFTER A FIRE"
                document.getElementById('ghihref').href = "javascript:hidesssdiv()";
            }
            function hidesssdiv() {
                document.getElementById('ee').style.display = 'none';
                document.getElementById('ghihref').innerHTML = ">&nbspRETURNING HOME AFTER A FIRE";
                document.getElementById('ghihref').href = "javascript:showsssdiv()";

            }

            function show1() {
                document.getElementById('ff').style.display = 'block';
                document.getElementById('fff').innerHTML = "∨&nbspDEAF EMERGENCY INFO"
                document.getElementById('fff').href = "javascript:hide1()";
            }
            function hide1() {
                document.getElementById('ff').style.display = 'none';
                document.getElementById('fff').innerHTML = ">&nbspDEAF EMERGENCY INFO";
                document.getElementById('fff').href = "javascript:show1()";
            }

            function show2() {
                document.getElementById('gg').style.display = 'block';
                document.getElementById('ggg').innerHTML = "∨&nbspRESOURCES AND SUPPORT"
                document.getElementById('ggg').href = "javascript:hide2()";
            }
            function hide2() {
                document.getElementById('gg').style.display = 'none';
                document.getElementById('ggg').innerHTML = ">&nbspRESOURCES AND SUPPORT";
                document.getElementById('ggg').href = "javascript:show2()";

            }
            function show3() {
                document.getElementById('hh').style.display = 'block';
                document.getElementById('hhh').innerHTML = "∨&nbspTRAPPED INSIDE VEHICLES IN A BUSHFIRE"
                document.getElementById('hhh').href = "javascript:hide3()";
            }
            function hide3() {
                document.getElementById('hh').style.display = 'none';
                document.getElementById('hhh').innerHTML = ">&nbspTRAPPED INSIDE VEHICLES IN A BUSHFIRE";
                document.getElementById('hhh').href = "javascript:show3()";

            }

            function show4() {
                document.getElementById('ii').style.display = 'block';
                document.getElementById('iii').innerHTML = "∨&nbspEMOTIONAL ASSISTANCE"
                document.getElementById('iii').href = "javascript:hide4()";
            }
            function hide4() {
                document.getElementById('ii').style.display = 'none';
                document.getElementById('iii').innerHTML = ">&nbspEMOTIONAL ASSISTANCE";
                document.getElementById('iii').href = "javascript:show4()";

            }

            function show5() {
                document.getElementById('jj').style.display = 'block';
                document.getElementById('jjj').innerHTML = "∨&nbspFINANCIAL ASSISTANCE"
                document.getElementById('jjj').href = "javascript:hide5()";
            }
            function hide5() {
                document.getElementById('jj').style.display = 'none';
                document.getElementById('jjj').innerHTML = ">&nbspFINANCIAL ASSISTANCE";
                document.getElementById('jjj').href = "javascript:show5()";

            }
            function show6() {
                document.getElementById('kk').style.display = 'block';
                document.getElementById('kkk').innerHTML = ">&nbspCONSUMER AFFAIRS"
                document.getElementById('kkk').href = "javascript:hide6()";
            }
            function hide6() {
                document.getElementById('kk').style.display = 'none';
                document.getElementById('kkk').innerHTML = ">&nbspCONSUMER AFFAIRS";
                document.getElementById('kkk').href = "javascript:show6()";

            }

            function show7() {
                document.getElementById('ll').style.display = 'block';
                document.getElementById('lll').innerHTML = "∨&nbspSTAYING BACK TO DEFEND YOUR PROPERTY?"
                document.getElementById('lll').href = "javascript:hide7()";
            }
            function hide7() {
                document.getElementById('ll').style.display = 'none';
                document.getElementById('lll').innerHTML = ">&nbspSTAYING BACK TO DEFEND YOUR PROPERTY?";
                document.getElementById('lll').href = "javascript:show7()";

            }

            function show8() {
                document.getElementById('nn').style.display = 'block';
                document.getElementById('nnn').innerHTML = "∨&nbspBEFORE THE FIRE FRONT ARRIVES"
                document.getElementById('nnn').href = "javascript:hide8()";
            }
            function hide8() {
                document.getElementById('nn').style.display = 'none';
                document.getElementById('nnn').innerHTML = ">&nbspBEFORE THE FIRE FRONT ARRIVES";
                document.getElementById('nnn').href = "javascript:show8()";

            }

            function show9() {
                document.getElementById('oo').style.display = 'block';
                document.getElementById('ooo').innerHTML = "∨&nbspYOUR HEALTH"
                document.getElementById('ooo').href = "javascript:hide9()";
            }
            function hide9() {
                document.getElementById('oo').style.display = 'none';
                document.getElementById('ooo').innerHTML = ">&nbspYOUR HEALTH";
                document.getElementById('ooo').href = "javascript:show9()";

            }

            function show10() {
                document.getElementById('pp').style.display = 'block';
                document.getElementById('ppp').innerHTML = "∨&nbspYOUR FAMILY & FRIENDS"
                document.getElementById('ppp').href = "javascript:hide10()";
            }
            function hide10() {
                document.getElementById('pp').style.display = 'none';
                document.getElementById('ppp').innerHTML = ">&nbspYOUR FAMILY & FRIENDS";
                document.getElementById('ppp').href = "javascript:show10()";

            }
            function show11() {
                document.getElementById('qq').style.display = 'block';
                document.getElementById('qqq').innerHTML = "∨&nbspBUSHFIRE ALERTS AND WHAT THEY MEAN"
                document.getElementById('qqq').href = "javascript:hide11()";
            }
            function hide11() {
                document.getElementById('qq').style.display = 'none';
                document.getElementById('qqq').innerHTML = ">&nbspBUSHFIRE ALERTS AND WHAT THEY MEAN";
                document.getElementById('qqq').href = "javascript:show11()";

            }

            function show12() {
                document.getElementById('rr').style.display = 'block';
                document.getElementById('rrr').innerHTML = "∨&nbspLOW-MODERATE"
                document.getElementById('rrr').href = "javascript:hide12()";
            }
            function hide12() {
                document.getElementById('rr').style.display = 'none';
                document.getElementById('rrr').innerHTML = ">&nbspLOW-MODERATE";
                document.getElementById('rrr').href = "javascript:show12()";

            }

            function show13() {
                document.getElementById('ss').style.display = 'block';
                document.getElementById('sss').innerHTML = "∨&nbspHIGH"
                document.getElementById('sss').href = "javascript:hide13()";
            }
            function hide13() {
                document.getElementById('ss').style.display = 'none';
                document.getElementById('sss').innerHTML = ">&nbspHIGH";
                document.getElementById('ss').href = "javascript:show13()";

            }

            function show14() {
                document.getElementById('tt').style.display = 'block';
                document.getElementById('ttt').innerHTML = "∨&nbspVERY HIGH"
                document.getElementById('ttt').href = "javascript:hide14()";
            }
            function hide14() {
                document.getElementById('tt').style.display = 'none';
                document.getElementById('ttt').innerHTML = ">&nbspVERY HIGH";
                document.getElementById('ttt').href = "javascript:show14()";

            }

            function show15() {
                document.getElementById('uu').style.display = 'block';
                document.getElementById('uuu').innerHTML = "∨&nbspSEVERE"
                document.getElementById('uuu').href = "javascript:hide15()";
            }
            function hide15() {
                document.getElementById('uu').style.display = 'none';
                document.getElementById('uuu').innerHTML = ">&nbspSEVERE";
                document.getElementById('uuu').href = "javascript:show15()";

            }

            function show16() {
                document.getElementById('vv').style.display = 'block';
                document.getElementById('vvv').innerHTML = "∨&nbspExtreme"
                document.getElementById('vvv').href = "javascript:hide16()";
            }
            function hide16() {
                document.getElementById('vv').style.display = 'none';
                document.getElementById('vvv').innerHTML = ">&nbspExtreme";
                document.getElementById('vvv').href = "javascript:show16()";

            }

            function show17() {
                document.getElementById('ww').style.display = 'block';
                document.getElementById('www').innerHTML = "∨&nbspCatastrophic"
                document.getElementById('www').href = "javascript:hide17()";
            }
            function hide17() {
                document.getElementById('ww').style.display = 'none';
                document.getElementById('www').innerHTML = ">&nbspCatastrophic";
                document.getElementById('www').href = "javascript:show17()";

            }

            function show18() {
                document.getElementById('xx').style.display = 'block';
                document.getElementById('xxx').innerHTML = "∨&nbspPOWER OUTAGES"
                document.getElementById('xxx').href = "javascript:hide18()";
            }
            function hide18() {
                document.getElementById('xx').style.display = 'none';
                document.getElementById('xxx').innerHTML = ">&nbspPOWER OUTAGES";
                document.getElementById('xxx').href = "javascript:show18()";

            }

            function show19() {
                document.getElementById('yy').style.display = 'block';
                document.getElementById('yyy').innerHTML = "∨&nbspINSURANCE"
                document.getElementById('yyy').href = "javascript:hide19()";
            }
            function hide19() {
                document.getElementById('yy').style.display = 'none';
                document.getElementById('yyy').innerHTML = ">&nbspINSURANCE";
                document.getElementById('yyy').href = "javascript:show19()";

            }
            function show20() {
                document.getElementById('zz').style.display = 'block';
                document.getElementById('zzz').innerHTML = "∨&nbspCatastrophic"
                document.getElementById('zzz').href = "javascript:hide20()";
            }

            function hide20() {
                document.getElementById('zz').style.display = 'none';
                document.getElementById('zzz').innerHTML = ">&nbspCatastrophic";
                document.getElementById('zzz').href = "javascript:show20()";

            }


            function show21() {
                document.getElementById('qw').style.display = 'block';
                document.getElementById('qwe').innerHTML = "∨&nbspLEGAL ASSISTANCE"
                document.getElementById('qwe').href = "javascript:hide21()";
            }

            function hide21() {
                document.getElementById('qw').style.display = 'none';
                document.getElementById('qwe').innerHTML = ">&nbspLEGAL ASSISTANCE";
                document.getElementById('qwe').href = "javascript:show21()";

            }

            function show22() {
                document.getElementById('as').style.display = 'block';
                document.getElementById('asd').innerHTML = "∨&nbspWHO HAS MORE HEALTH RISKS DURING BUSHFIRES"
                document.getElementById('asd').href = "javascript:hide22()";
            }

            function hide22() {
                document.getElementById('as').style.display = 'none';
                document.getElementById('asd').innerHTML = ">&nbspWHO HAS MORE HEALTH RISKS DURING BUSHFIRES";
                document.getElementById('asd').href = "javascript:show22()";

            }

            function show23() {
                document.getElementById('zx').style.display = 'block';
                document.getElementById('zxc').innerHTML = "∨&nbspRECOVERINGAFTER BUSHFIRES"
                document.getElementById('zxc').href = "javascript:hide23()";
            }

            function hide23() {
                document.getElementById('zx').style.display = 'none';
                document.getElementById('zxc').innerHTML = ">&nbspRECOVERINGAFTER BUSHFIRES";
                document.getElementById('zxc').href = "javascript:show23()";

            }

            function show24() {
                document.getElementById('24').style.display = 'block';
                document.getElementById('244').innerHTML = "∨&nbspFURTHER INFORMATION"
                document.getElementById('244').href = "javascript:hide24()";
            }

            function hide24() {
                document.getElementById('24').style.display = 'none';
                document.getElementById('244').innerHTML = ">&nbspFURTHER INFORMATION";
                document.getElementById('244').href = "javascript:show24()";

            }

            function show25() {
                document.getElementById('25').style.display = 'block';
                document.getElementById('255').innerHTML = "∨&nbspOTHER LUNG CONDITIONS"
                document.getElementById('255').href = "javascript:hide25()";
            }

            function hide25() {
                document.getElementById('25').style.display = 'none';
                document.getElementById('255').innerHTML = ">&nbspOTHER LUNG CONDITIONS";
                document.getElementById('255').href = "javascript:show25()";

            }


            function show26() {
                document.getElementById('26').style.display = 'block';
                document.getElementById('266').innerHTML = "∨&nbspHEART AND CARDIOVASCULAR CONDITIONS"
                document.getElementById('266').href = "javascript:hide26()";
            }

            function hide26() {
                document.getElementById('26').style.display = 'none';
                document.getElementById('266').innerHTML = ">&nbspHEART AND CARDIOVASCULAR CONDITIONS";
                document.getElementById('266').href = "javascript:show26()";

            }

            function show27() {
                document.getElementById('27').style.display = 'block';
                document.getElementById('277').innerHTML = "∨&nbspDIABETES"
                document.getElementById('277').href = "javascript:hide27()";
            }

            function hide27() {
                document.getElementById('27').style.display = 'none';
                document.getElementById('277').innerHTML = ">&nbspDIABETES";
                document.getElementById('277').href = "javascript:show27()";

            }

            function show28() {
                document.getElementById('28').style.display = 'block';
                document.getElementById('288').innerHTML = "∨&nbspPREGNANCY"
                document.getElementById('288').href = "javascript:hide28()";
            }

            function hide28() {
                document.getElementById('28').style.display = 'none';
                document.getElementById('288').innerHTML = ">&nbspPREGNANCY";
                document.getElementById('288').href = "javascript:show28()";

            }

            function show29() {
                document.getElementById('29').style.display = 'block';
                document.getElementById('299').innerHTML = "∨&nbspOLDER PEOPLE"
                document.getElementById('299').href = "javascript:hide29()";
            }

            function hide29() {
                document.getElementById('29').style.display = 'none';
                document.getElementById('299').innerHTML = ">&nbspOLDER PEOPLE";
                document.getElementById('299').href = "javascript:show29()";

            }

            function show30() {
                document.getElementById('30').style.display = 'block';
                document.getElementById('300').innerHTML = "∨&nbspFARM RECOVERY"
                document.getElementById('300').href = "javascript:hide30()";
            }

            function hide30() {
                document.getElementById('30').style.display = 'none';
                document.getElementById('300').innerHTML = ">&nbspFARM RECOVERY";
                document.getElementById('300').href = "javascript:show30()";

            }</script>



        <style type="text/css">
            * {
                padding: 0;
                margin: 0;
            }

            .pn {
                width: 400px;
                margin: 200px auto 0;
                background-color: #fff;
                text-align: center;
                padding: 0 100px;
            }

            .slide a {
                display: block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                margin: 0 auto;
                background-color: #fff;
                text-decoration: none;
                color: #000;
            }
        </style>
