<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold">The Land & <br>region Of High Country</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom: 20px;">

    <div class="row">
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show1();" id="fff" class="btn-show">
                    >&nbspLOCATION OF HIGH COUNTRY
                </a>
            </h2>
            <div class="hpn" id="ff" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    The High Country is located in the north-east region of Victoria. It is an area that is popular for its national parks, high snowy mountains, lakes, ski resorts, vineyards and a rich vibrant history including gold discovery, cattlemen, alpine vegetation, and bushrangers, etc.Comprising the Bogong High Plains, Bowen Range, Cathedral Range, Cobberas Range, and numerous other smaller ranges, the High Country includes the Alpine Shire, parts of the East Gippsland Shire, and some parts of the Mansfield Shire local government areas. The High Country is also called the High Plains or the Victorian Alps.Rich wine growing areas and locally produced cheeses & handicrafts are a salient feature of the regional towns of this region like Rutherglen, Wangaratta and Milawa area. Ravishing holiday spots along the Ovens River, including Bright and Myrtleford, offer an idyllic setting surrounded by mountains, forest and rivers, with their streets lined with deciduous trees that transform into blazing colours during autumn!
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show2();" id="ggg" class="btn-show">
                    >&nbspCLIMATE OF HIGH COUNTRY
                </a>
            </h2>
            <div class="hpn" id="gg" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    The climate sees low rainfall, cold winters and hot summers. Average summer temperature highs in the Victorian Alps are usually around 30°C throughout the summer months, while often warmer in the north and considerably cooler in the southern high country. During winter, average temperature highs are approximately 12°C in the north with the high country closer to -4°C. This climate of extremes has led to plants and animals developing special adaptations to survive.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show3();" id="hhh" class="btn-show">
                    >&nbspKEY GEOGRAPHICAL FEATURES OF HIGH COUNTRY
                </a>
            </h2>
            <div class="hpn" id="hh" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    High country covers 5,199 square km area, the region is home to Victoria's largest national park the Alpine National park, which covers over 646,000 hectares. The establishment of the Alpine National Park, has meant that economic activities such as mining, logging and agriculture are limited, in order to preserve the natural ecosystem for visitors.Towards the south is Lake Eildon which is the second largest artificial lake in Victoria. It consists of over 500 kilometres of coastline, much of which is surrounded by national parks. The lake is suitable for fishing, boating, swimming and even navigating a holiday houseboat through Lake Eildon's extensive waterways.At the southern edge of the region is the Murrindindi Shire which includes the picturesque townships of Alexandra and Yea. There are stunning landscapes, ancient rainforests and riversmaking it an ideal site for fishing, bushwalking, horse-riding or river-rafting.<br>
                    The 2016 Australian Bureau of Statistics census showed that the Victorian Alps had around 48,000 permanent residents with 49.2% male and 50.8% female, and a median age of 39.The highest peak in the range is Mount Bogong at an elevation of 1,986 metres (6,516 ft), which is also the highest peak in Victoria. Other prominent peaks within the region are as follows; Mount Feathertop at an elevation of 1,922 metres (6,306 ft), Mount Hotham at an elevation of 1,862 metres (6,109 ft) and Mount Buffalo at an elevation of 1,723 metres (5,653 ft).
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show4();" id="iii" class="btn-show">
                    >&nbspTOURISM IN HIGH COUNTRY
                </a>
            </h2>
            <div class="hpn" id="ii" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    In a survey few years ago, it was reported that the tourism industry contributed an estimated $737 million to Victoria’s High Country economy (20.3% of gross regional product) and employed approximately 7,900 people (20.2% of regional employment).The High Country has always been a major tourist attraction in Victoria that is home to most of the Victoria's major snow and ski resorts including Mount Buller, Falls Creek, Mount Buffalo and Mount Hotham. Outside of the snow season, these scenic mountains, lakes, and forests provide a great location for bushwalking, horse-riding, cycling, scenic driving and fishing, etc. Victoria’s High Country ranked 2nd overall in the comparative importance of tourism across Tourism Victoria Regions (i.e. direct share of regional economy). In terms of industry size, Victoria’s High Country supplies 3.1% of the state-wide direct contribution of tourism.<br>

                    For more info on High Country Tourism please visit:<br>
                    <a href="https://www.victoriashighcountry.com.au/" style="color:#1079dd">OFFICIAL VICTORIA HIGH COUNTRY WEBSITE</a><br>
                    <a href="https://www.visitvictoria.com/Regions/High-Country/Destinations" style="color:#1079dd">VISIT VICTORIA GOVERNMENT WEBSITE</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:35%">
        <a href="~/Home/History">CLICK HERE TO GO TO HISTORY PAGE</a>
    </h4>
</div>


<script type="text/javascript">function showdiv() {
                    document.getElementById('mm').style.display = 'block';
                    document.getElementById('strhref').innerHTML = "∨&nbspWHAT ARE BUSHFIRES?";
                    document.getElementById('strhref').href = "javascript:hidediv()";
                }
                function hidediv() {
                    document.getElementById('mm').style.display = 'none';
                    document.getElementById('strhref').innerHTML = ">&nbspWHAT ARE BUSHFIRES?";
                    document.getElementById('strhref').href = "javascript:showdiv()";

                }

                function showsdiv() {
                    document.getElementById('cc').style.display = 'block';
                    document.getElementById('abchref').innerHTML = "∨&nbspKNOW ABOUT THE LAND THAT VEGETATION GROWS";
                    document.getElementById('abchref').href = "javascript:hidesdiv()";
                }
                function hidesdiv() {
                    document.getElementById('cc').style.display = 'none';
                    document.getElementById('abchref').innerHTML = ">&nbspKNOW ABOUT THE LAND THAT VEGETATION GROWS";
                    document.getElementById('abchref').href = "javascript:showsdiv()";

                }

                function showssdiv() {
                    document.getElementById('dd').style.display = 'block';
                    document.getElementById('defhref').innerHTML = "∨&nbspARE BUSHFIRES NATURAL?"
                    document.getElementById('defhref').href = "javascript:hidessdiv()";
                }
                function hidessdiv() {
                    document.getElementById('dd').style.display = 'none';
                    document.getElementById('defhref').innerHTML = ">&nbspARE BUSHFIRES NATURAL?";
                    document.getElementById('defhref').href = "javascript:showssdiv()";

                }

                function showsssdiv() {
                    document.getElementById('ee').style.display = 'block';
                    document.getElementById('ghihref').innerHTML = "∨&nbspWHY ARE BUSHFIRES DANGEROUS?"
                    document.getElementById('ghihref').href = "javascript:hidesssdiv()";
                }
                function hidesssdiv() {
                    document.getElementById('ee').style.display = 'none';
                    document.getElementById('ghihref').innerHTML = ">&nbspWHY ARE BUSHFIRES DANGEROUS?";
                    document.getElementById('ghihref').href = "javascript:showsssdiv()";

                }

                function show1() {
                    document.getElementById('ff').style.display = 'block';
                    document.getElementById('fff').innerHTML = "∨&nbspLOCATION OF HIGH COUNTRY"
                    document.getElementById('fff').href = "javascript:hide1()";
                }
                function hide1() {
                    document.getElementById('ff').style.display = 'none';
                    document.getElementById('fff').innerHTML = ">&nbspLOCATION OF HIGH COUNTRY";
                    document.getElementById('fff').href = "javascript:show1()";
                }

                function show2() {
                    document.getElementById('gg').style.display = 'block';
                    document.getElementById('ggg').innerHTML = "∨&nbspCLIMATE OF HIGH COUNTRY"
                    document.getElementById('ggg').href = "javascript:hide2()";
                }
                function hide2() {
                    document.getElementById('gg').style.display = 'none';
                    document.getElementById('ggg').innerHTML = ">&nbspCLIMATE OF HIGH COUNTRY";
                    document.getElementById('ggg').href = "javascript:show2()";

                }
                function show3() {
                    document.getElementById('hh').style.display = 'block';
                    document.getElementById('hhh').innerHTML = "∨&nbspKEY GEOGRAPHICAL FEATURES OF HIGH COUNTRY"
                    document.getElementById('hhh').href = "javascript:hide3()";
                }
                function hide3() {
                    document.getElementById('hh').style.display = 'none';
                    document.getElementById('hhh').innerHTML = ">&nbspKEY GEOGRAPHICAL FEATURES OF HIGH COUNTRY";
                    document.getElementById('hhh').href = "javascript:show3()";

                }

                function show4() {
                    document.getElementById('ii').style.display = 'block';
                    document.getElementById('iii').innerHTML = "∨&nbspTOURISM IN HIGH COUNTRY"
                    document.getElementById('iii').href = "javascript:hide4()";
                }
                function hide4() {
                    document.getElementById('ii').style.display = 'none';
                    document.getElementById('iii').innerHTML = ">&nbspTOURISM IN HIGH COUNTRY";
                    document.getElementById('iii').href = "javascript:show4()";

                }

                function show5() {
                    document.getElementById('jj').style.display = 'block';
                    document.getElementById('jjj').innerHTML = "∨&nbspTHE RELATIONSHIP BETWEEN LAND AND VEGETATION"
                    document.getElementById('jjj').href = "javascript:hide5()";
                }
                function hide5() {
                    document.getElementById('jj').style.display = 'none';
                    document.getElementById('jjj').innerHTML = ">&nbspTHE RELATIONSHIP BETWEEN LAND AND VEGETATION";
                    document.getElementById('jjj').href = "javascript:show5()";

                }
                function show6() {
                    document.getElementById('kk').style.display = 'block';
                    document.getElementById('kkk').innerHTML = ">&nbspSlope angle"
                    document.getElementById('kkk').href = "javascript:hide6()";
                }
                function hide6() {
                    document.getElementById('kk').style.display = 'none';
                    document.getElementById('kkk').innerHTML = ">&nbspSlope angle";
                    document.getElementById('kkk').href = "javascript:show6()";

                }

                function show7() {
                    document.getElementById('ll').style.display = 'block';
                    document.getElementById('lll').innerHTML = "∨&nbspBUSHFIRE WARNINGS"
                    document.getElementById('lll').href = "javascript:hide7()";
                }
                function hide7() {
                    document.getElementById('ll').style.display = 'none';
                    document.getElementById('lll').innerHTML = ">&nbspBUSHFIRE WARNINGS";
                    document.getElementById('lll').href = "javascript:show7()";

                }

                function show8() {
                    document.getElementById('nn').style.display = 'block';
                    document.getElementById('nnn').innerHTML = "∨&nbspADVICE<br>MONITOR CONDITIONS"
                    document.getElementById('nnn').href = "javascript:hide8()";
                }
                function hide8() {
                    document.getElementById('nn').style.display = 'none';
                    document.getElementById('nnn').innerHTML = ">&nbspADVICE<br>MONITOR CONDITIONS";
                    document.getElementById('nnn').href = "javascript:show8()";

                }

                function show9() {
                    document.getElementById('oo').style.display = 'block';
                    document.getElementById('ooo').innerHTML = "∨&nbspWATCH AND ACT<br>CONDITIONS ARE CHANGING"
                    document.getElementById('ooo').href = "javascript:hide9()";
                }
                function hide9() {
                    document.getElementById('oo').style.display = 'none';
                    document.getElementById('ooo').innerHTML = ">&nbspWATCH AND ACT<br>CONDITIONS ARE CHANGING";
                    document.getElementById('ooo').href = "javascript:show9()";

                }

                function show10() {
                    document.getElementById('pp').style.display = 'block';
                    document.getElementById('ppp').innerHTML = "∨&nbspEMERGENCY WARNING<br>YOU ARE IN DANGER"
                    document.getElementById('ppp').href = "javascript:hide10()";
                }
                function hide10() {
                    document.getElementById('pp').style.display = 'none';
                    document.getElementById('ppp').innerHTML = ">&nbspEMERGENCY WARNING<br>YOU ARE IN DANGER";
                    document.getElementById('ppp').href = "javascript:show10()";

                }

                function show11() {
                    document.getElementById('qq').style.display = 'block';
                    document.getElementById('qqq').innerHTML = "∨&nbspFIRE DANGER RATINGS"
                    document.getElementById('qqq').href = "javascript:hide11()";
                }
                function hide11() {
                    document.getElementById('qq').style.display = 'none';
                    document.getElementById('qqq').innerHTML = ">&nbspFIRE DANGER RATINGS";
                    document.getElementById('qqq').href = "javascript:show11()";

                }

                function show12() {
                    document.getElementById('rr').style.display = 'block';
                    document.getElementById('rrr').innerHTML = "∨&nbspLOW-MODERATE"
                    document.getElementById('rrr').href = "javascript:hide12()";
                }
                function hide12() {
                    document.getElementById('rr').style.display = 'none';
                    document.getElementById('rrr').innerHTML = ">&nbspLOW-MODERATE";
                    document.getElementById('rrr').href = "javascript:show12()";

                }

                function show13() {
                    document.getElementById('ss').style.display = 'block';
                    document.getElementById('sss').innerHTML = "∨&nbspHIGH"
                    document.getElementById('sss').href = "javascript:hide13()";
                }
                function hide13() {
                    document.getElementById('ss').style.display = 'none';
                    document.getElementById('sss').innerHTML = ">&nbspHIGH";
                    document.getElementById('ss').href = "javascript:show13()";

                }

                function show14() {
                    document.getElementById('tt').style.display = 'block';
                    document.getElementById('ttt').innerHTML = "∨&nbspVERY HIGH"
                    document.getElementById('ttt').href = "javascript:hide14()";
                }
                function hide14() {
                    document.getElementById('tt').style.display = 'none';
                    document.getElementById('ttt').innerHTML = ">&nbspVERY HIGH";
                    document.getElementById('ttt').href = "javascript:show14()";

                }

                function show15() {
                    document.getElementById('uu').style.display = 'block';
                    document.getElementById('uuu').innerHTML = "∨&nbspSEVERE"
                    document.getElementById('uuu').href = "javascript:hide15()";
                }
                function hide15() {
                    document.getElementById('uu').style.display = 'none';
                    document.getElementById('uuu').innerHTML = ">&nbspSEVERE";
                    document.getElementById('uuu').href = "javascript:show15()";

                }

                function show16() {
                    document.getElementById('vv').style.display = 'block';
                    document.getElementById('vvv').innerHTML = "∨&nbspExtreme"
                    document.getElementById('vvv').href = "javascript:hide16()";
                }
                function hide16() {
                    document.getElementById('vv').style.display = 'none';
                    document.getElementById('vvv').innerHTML = ">&nbspExtreme";
                    document.getElementById('vvv').href = "javascript:show16()";

                }

                function show17() {
                    document.getElementById('ww').style.display = 'block';
                    document.getElementById('www').innerHTML = "∨&nbspCatastrophic"
                    document.getElementById('www').href = "javascript:hide17()";
                }
                function hide17() {
                    document.getElementById('ww').style.display = 'none';
                    document.getElementById('www').innerHTML = ">&nbspCatastrophic";
                    document.getElementById('www').href = "javascript:show17()";

                }</script>



<style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }

    .pn {
        width: 400px;
        margin: 200px auto 0;
        background-color: #fff;
        text-align: center;
        padding: 0 100px;
    }

    .slide a {
        display: block;
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        background-color: #fff;
        text-decoration: none;
        color: #000;
    }

    p:not(.cssonly) a[href$=".pdf"]:before {
        /* PDF file */
        width: 32px;
        height: 32px;
        background: url('http://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png');
        display: inline-block;
        content: ' ';
    }

    /* Add " (PDF)" text after links that go to PDFs */
    a[href$=".pdf"]:after {
        content: " (PDF)";
    }

    /* If file size specified as data attribute, use that too */
    a[href$=".pdf"][data-size]:after {
        content: " (PDF, " attr(data-size) ")";
    }

    html {
        font-size: 1em;
        line-height: 1.75;
        font-weight: 200;
        -webkit-font-smoothing: antialiased;
        color: #585451;
        font-family: sans-serif;
    }
    /* p {  background-color: gray; } */

    .cssonly a[href$=".pdf"]:after {
        /* PDF file */
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: red;
        border: 1px solid red;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 7.7px;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'PDF';
    }

    .cssonly a[href$=".doc"]:after,
    .cssonly a[href$=".docx"]:after {
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: #00d;
        border: 1px solid #00d;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 7.7px;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'DOC';
    }

    .cssonly a[href$=".xls"]:after,
    .cssonly a[href$=".xlsx"]:after {
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: #090;
        border: 1px solid #090;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 8px;
        font-weight: 700;
        font-family: tahoma, arial, sans-serif;
        letter-spacing: 0.001em;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'XLS';
    }
</style>