<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold">Responding During Bushfires</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showdiv();" id="strhref" class="btn-show">
                    >&nbspSTAY INFORMED ABOUT THE BUSHFIRE WARNINGS
                </a>
            </h2>
            <div class="hpn" id="mm" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    It is important to stay safe and follow your emergency plan.<br>
                    Call triple zero (000) in life-threatening emergencies and for bushfires. If calling triple zero (000) doesn't work on your mobile phone, try 112.<br>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show1();" id="fff" class="btn-show">
                                >&nbspDEAF EMERGENCY INFO
                            </a>
                        </h4>
                        <div class="hpn" id="ff" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Every year, bushfires, floods and other extreme weather events affect thousands of Victorians in the Melbourne metropolitan region, regional centres and rural areas. The Victorian emergency services work hard to educate the community about different natural hazard risks, how to decide when to leave safely, and how to understand warning and evacuation systems.<br>
                                However, most of this information is in written or spoken English. This means that deaf, deafblind and hard of hearing Victorians who cannot rely on spoken English or whose first language is Auslan are often the last to know. The Deaf Emergency Information resource brings important information together in one place, in Auslan and in written English. If you are deaf, deafblind or hard of hearing, the <a href="http://deafemergencyinfo.com.au/" style="color: #1079dd">Deaf Emergency Information website</a> will help you to:<br>
                                •	Understand the different natural hazards experienced by Victorians every year;<br>
                                •	Learn from the experiences of other people in the community;<br>
                                •	Understand how to watch and act so you can take responsibility for your own safety;<br>
                                •	Learn how to prepare, respond and recover from natural hazard events in your area;<br>
                                •	Understand how emergency services work together.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show2();" id="ggg" class="btn-show">
                                >&nbspRESOURCES AND SUPPORT
                            </a>
                        </h4>
                        <div class="hpn" id="gg" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                These links provide advice and support to people affected by bushfires and bushfire smoke:<br>
                                •	<a href="https://www.redcross.org.au/" style="color: #1079dd">Australian Red Cross</a><br>
                                •	<a href="https://www.disasterassist.gov.au/Pages/home.aspx" style="color: #1079dd">Australian Government DisasterAssist</a><br>
                                •	<a href="https://www.humanservices.gov.au/individuals/help-emergency/bushfires" style="color: #1079dd">Australian Government Services Australia</a><br>
                                •	<a href="https://www.lifeline.org.au/" style="color: #1079dd">Lifeline</a> — 13 11 14<br>
                                •	<a href="https://www.emergency.nsw.gov.au/Pages/for-the-community/get-ready/people-with-disabilities.aspx" style="color: #1079dd">Office Of Emergency Management</a> — information for people with disabilities<br>
                                •   These factsheets are also available in other languages:<br>
                                •	<a href="https://www.healthtranslations.vic.gov.au/bhcv2/bhcht.nsf/PresentDetail?Open&s=Bushfire_smoke_and_your_health" style="color: #1079dd">Bushfire smoke and your health</a> — Environmental Protection Authority (EPA) Victoria<br>
                                •	<a href="https://www.healthtranslations.vic.gov.au/bhcv2/bhcht.nsf/PresentDetail?Open&s=After_a_fire:_returning_home_safely" style="color: #1079dd">Returning home safely after a fire</a> — Victoria State Government Health and Human Services<br>
                                •	<a href="https://www.healthtranslations.vic.gov.au/bhcv2/bhcht.nsf/PresentDetail?Open&s=After_a_fire:_cleaning_up_a_smoke_affected_home" style="color: #1079dd">Cleaning up a smoke-affected home after a fire</a> — EPA Victoria<br>
                                •	<a href="https://www.healthtranslations.vic.gov.au/bhcv2/bhcht.nsf/PresentDetail?Open&s=After_a_fire:_private_drinking_water_and_water_tank_safety" style="color: #1079dd">After a fire: private drinking water and water tank safety</a> — Victoria State Government Health and Human Services<br>
                                •	<a href="https://www.healthtranslations.vic.gov.au/bhcv2/bhcht.nsf/PresentDetail?Open&s=Help_for_you_and_your_family_after_disaster_fact_sheet" style="color: #1079dd">Help for you and your family after disaster</a> — Transcultural Mental Health Centre<br>
                                •	<a href="https://www.redcross.org.au/get-help/emergencies/looking-after-yourself" style="color: #1079dd">Managing stress after a crisis</a> — Australian Red Cross

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show11();" id="qqq" class="btn-show">
                    >&nbspBUSHFIRE RATINGS AND WHAT THEY MEAN?
                </a>
            </h2>
            <div class="hpn" id="qq" style="display:none;">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #159878; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show12();" id="rrr" class="btn-show">
                                >&nbspLOW-MODERATE
                            </a>
                        </h4>
                        <div class="hpn" id="rr" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a 'low to moderate' rating can be easily controlled and pose little or no risk to life or property.<br>
                                During a fire with a 'low to moderate' rating, you should know where to get more information and monitor the situation for any changes.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #13A0D8; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show13();" id="sss" class="btn-show">
                                >&nbspHIGH
                            </a>
                        </h4>
                        <div class="hpn" id="ss" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a 'high' danger rating is a fire that can be controlled, where loss of life is unlikely and damage to property will be limited.<br>
                                During a fire with a 'high' danger rating, you should know where to get more information and monitor the situation for any changes.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #FFEF61; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show14();" id="ttt" class="btn-show">
                                >&nbspVERY HIGH
                            </a>
                        </h4>
                        <div class="hpn" id="tt" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a 'very high' danger rating is a fire that can be difficult to control, with flames that may burn into the tree tops. During a fire of this type, some homes and businesses may be damaged or destroyed.<br>
                                During a fire with a 'very high' danger rating, you should use your home as a place of safety only if it is well-prepared and well-constructed.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #FAAD38; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show15();" id="uuu" class="btn-show">
                                >&nbspSEVERE
                            </a>
                        </h4>
                        <div class="hpn" id="uu" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a 'severe' rating may be uncontrollable and move quickly, with flames that may be higher than roof tops. A 'severe' fire may cause injuries and some homes or businesses may be destroyed.<br>
                                During a fire with a 'severe' rating, leaving is the safest option for your survival. Use your home as a place of safety only if it is well-prepared and well-constructed.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #EC3D2E; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show16();" id="vvv" class="btn-show">
                                >&nbspExtreme
                            </a>
                        </h4>
                        <div class="hpn" id="vv" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with an 'extreme' rating may be uncontrollable, unpredictable and fast moving. The flames will be higher than roof tops. During an 'extreme' fire, people may be injured and homes and businesses may be destroyed.<br>
                                During a fire with an 'extreme' rating, well-prepared and well-constructed homes may not be safe. Leaving is the only option for your survival.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #FF0000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show17();" id="www" class="btn-show">
                                >&nbspCatastrophic
                            </a>
                        </h4>
                        <div class="hpn" id="ww" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                A fire with a rating of 'catastrophic' may be uncontrollable, unpredictable and fast moving. The flames will be higher than roof tops. Many people may be injured and many homes and businesses may be destroyed.<br>
                                During a fire with a 'catastrophic' rating, well-prepared and well-constructed homes will not be safe. Leaving is the only option for your survival.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*  123123333333333*@
    <div class="col-md-12">
        <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
            <a href="javascript:show7();" id="lll" class="btn-show">
                >&nbspSTAYING BACK TO DEFEND YOUR PROPERTY?
            </a>
        </h2>
        <div class="hpn" id="ll" style="display:none;">
            <p style="color:#000000;font-size:20px">
                Defending your property is risky - you could be seriously injured, suffer psychological trauma or die. Leaving early is the safest option to protect yourself and your family.<br>
                If you decide to <a href="https://www.qld.gov.au/emergency/safety/bushfire-survival-plan.html" style="color: #1079dd">stay and defend</a> your home, there are certain steps you should take :
            </p>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="test" style="color: #ffffff; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                        <a href="javascript:show8();" id="nnn" class="btn-show">
                            >&nbspBEFORE THE FIRE FRONT ARRIVES
                        </a>
                    </h4>
                    <div class="hpn" id="nn" style="display:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="test" style="color: #ffffff; background: #13A0D8; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                                    <a href="javascript:show18();" id="xxx" class="btn-show">
                                        >&nbspINSIDE
                                    </a>
                                </h5>
                                <div class="hpn" id="xx" style="display:none;">
                                    <p style="color: #000000; font-size: 20px">
                                        •	Alert family and neighbours.<br>
                                        •	Bring pets inside.<br>
                                        •	Dress in protective clothing.<br>
                                        •	Shut all doors and windows.<br>
                                        •	Fill bath, sinks and buckets with water.<br>
                                        •	Place wet towels in any crevices, such as gaps under doors.<br>
                                        •	Take curtains down and push furniture away from windows.<br>
                                        •	Place ladder in ceiling access ready to inspect ceiling cavity.<br>
                                    </p>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <h5 class="test" style="color: #ffffff; background: #13A0D8; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                                    <a href="javascript:show19();" id="yyy" class="btn-show">
                                        >&nbspOUTSIDE
                                    </a>
                                </h5>
                                <div class="hpn" id="yy" style="display:none;">
                                    <p style="color: #000000; font-size: 20px">
                                        •	Remove last minute combustibles from around the house including flammable blinds, wooden furniture and doormats.<br>
                                        •	Start pump for fire hose and/or roof sprinklers. (Make sure to manage your water supply well, so that there is sufficient water left for when the fire front actually arrives).<br>
                                        •	Wet down all areas on the side of house facing the direction of the fire.<br>
                                        •	Dampen window ledges allowing water to penetrate any gaps.<br>
                                        •	Plug drains and fill gutters with water.<br>
                                        •	Wet down any pre-determined problem areas.<br>
                                        •	Patrol for spot fires and extinguish any that start.<br>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="test" style="color: #ffffff; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                        <a href="javascript:show9();" id="ooo" class="btn-show">
                            >&nbspWHEN FIRE FRONT ARRIVES
                        </a>
                    </h4>
                    <div class="hpn" id="oo" style="display:none;">
                        <p style="color: #000000; font-size: 20px">
                            •	Retreat inside your home.<br>
                            •	Bring buckets, hoses, mops and tap fittings inside with you.<br>
                            •	Patrol inside for spot fires and extinguish.<br>
                            •	Check the ceiling cavity.<br>
                            •	Drink plenty of water.<br>
                            •	Reassure family and pets.<br>
                            •	Make sure you are situated in a room with two exits.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="test" style="color: #ffffff; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                        <a href="javascript:show10();" id="ppp" class="btn-show">
                            >&nbspAFTER FIRE FRONT HAS PASSED
                        </a>
                    </h4>
                    <div class="hpn" id="pp" style="display:none;">
                        <p style="color: #000000; font-size: 20px">
                            •	Return outside when safe to do so.<br>
                            •	Patrol for spot fires and extinguish any.<br>
                            •	Continue to patrol for 3-8 hours.<br>
                            •	Let family and neighbours know you're okay.<br>
                            •	Continue drinking plenty of water.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @*  333*@
        @*  333*@
        @*  333*@
        @*  333*@
        @*  333*@
        @*  333*@
        @*  333*@
        @*  333*@
        @*  333*@
        @*  333*@
        @*  333*@
    </div>
    <div class="col-md-12">
        <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
            <a href="javascript:show3();" id="hhh" class="btn-show">
                >&nbspTRAPPED INSIDE VEHICLES IN A BUSHFIRE?
            </a>
        </h2>
        <div class="hpn" id="hh" style="display:none;">
            <p style="color:#000000;font-size:20px">
                Being out on the road during a bushfire is extremely dangerous. Last minute evacuations are clearly not an option.<br>
                Travel in the country during the bushfire season needs to be done with extreme caution and vigilance.<br>
                •	Always carry woollen blankets and a supply of water in the vehicle. Dress in suitable non-synthetic clothing and shoes.<br>
                •	Know the local bushfire warning system and tune in accordingly when travelling.<br>
                •	Be attentive to your situation and as you drive make mental notes of solid structures, including farmhouses, buildings etc that could provide safe shelter in the event of a bushfire.<br>
                •	Look for sites that have well managed, reduced vegetation.<br>
                If you see a bushfire in the distance, carefully pull over to the side of the road to assess the situation. If it is safe to do so, turn around and drive to safety. Depending on how close the fire is, consider using a solid structure that you may have passed previously to shelter in while the fire front passes.<br>
                If the fire has trapped you, find a suitable place to situate the car and shelter from the intense radiant heat. There is a whole range of factors that may impact your survival chances. The following guidelines may help to minimise the level of risk:
            </p>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="test" style="color: #ffffff; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                        <a href="javascript:show4();" id="iii" class="btn-show">
                            >&nbspPOSITIONING YOUR VEHICLE
                        </a>
                    </h4>
                    <div class="hpn" id="ii" style="display:none;">
                        <p style="color: #000000; font-size: 20px">
                            •	Find a clearing away from dense bush and high ground fuel loads.<br>
                            •	If possible minimise exposure to radiant heat by parking behind a natural barrier such as a rocky outcrop.<br>
                            •	Position vehicle facing towards oncoming fire front.<br>
                            •	Park vehicle off the roadway to avoid collisions in poor visibility.<br>
                            •	Park away from other vehicles.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="test" style="color: #ffffff; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                        <a href="javascript:show5();" id="jjj" class="btn-show">
                            >&nbspACTIONS TO TAKE INSIDE YOUR VEHICLE
                        </a>
                    </h4>
                    <div class="hpn" id="jj" style="display:none;">
                        <p style="color: #000000; font-size: 20px">
                            •	Stay inside your vehicle - it offers the best level of protection from the radiant heat as the fire front passes.<br>
                            •	Turn headlights and hazard warning lights on to make the vehicle as visible as possible.<br>
                            •	Tightly close all windows and doors.<br>
                            •	Shut all the air vents and turn air conditioning off.<br>
                            •	Turn the engine off.<br>
                            •	Get down below the window level and shelter under woollen blankets.<br>
                            •	Drink water to minimise the risks of dehydration.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="test" style="color: #ffffff; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                        <a href="javascript:show6();" id="kkk" class="btn-show">
                            >&nbspWHAT TO EXPECT AS THE FIRE FRONT PASSES
                        </a>
                    </h4>
                    <div class="hpn" id="kk" style="display:none;">
                        <p style="color: #000000; font-size: 20px">
                            •	Stay in the vehicle until the fire front has passed and the temperature has dropped outside.<br>
                            •	Fuel tanks are very unlikely to explode.<br>
                            •	As the fire front approaches, the intensity of the heat will increase along with smoke and embers.<br>
                            •	Smoke will gradually get inside the vehicle and fumes will be released from the interior of the car. Stay as close to the floor as possible to minimise inhalation and cover your mouth with a moist cloth.<br>
                            •	Tyres and external plastic body parts may catch alight. In more extreme cases the vehicle interior may catch on fire.<br>
                            •	Once the fire front has passed and the temperature has dropped cautiously exit the vehicle. (Be careful - internal parts will be extremely hot.)<br>
                            •	Move to a safe area e.g. a strip of land that has already burnt.<br>
                            •	Stay covered in woollen blankets, continue to drink water and await assistance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        @*  333*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show21();" id="qwe" class="btn-show">
                    >&nbspPROTECT YOURSELF FROM BUSHFIRE SMOKE
                </a>
            </h2>
            <div class="hpn" id="qw" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Bushfire smoke can affect your health and you should consider how to stay safe from it. Bushfire smoke can cause a range of problems, including shortness of breath and cough, and many of these problems are serious.<br>
                    If possible, stay inside with the windows and doors closed, preferably with the air conditioning on and set to re-circulate. When outdoors, you can wear a 'P2' face mask (available from chemists and hardware stores) provided it's fitted correctly, with an air-tight seal around the mouth and nose.<br>
                    Steps to wear a N95 or similar mask<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bo-PEzHE7iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

                </p>
            </div>
        </div>
        @* 123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show22();" id="asd" class="btn-show">
                    >&nbspWHO HAS MORE HEALTH RISKS DURING BUSHFIRES
                </a>
            </h2>
            <div class="hpn" id="as" style="display:none;">
                <p style="color:#000000;font-size:20px">
                    Certain groups are more at risk of health issues during a bushfire or when exposed to both short-term and long-term bushfire smoke.
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show24();" id="244" class="btn-show">
                                >&nbspASTHMA
                            </a>
                        </h4>
                        <div class="hpn" id="24" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                <a href="https://www.healthdirect.gov.au/asthma" style="color: #1079dd">Asthma</a><br>
                                If smoke is a known trigger for your asthma symptoms, use your preventer medication and make sure you have access to your reliever medication. Follow your asthma action plan. Visit <a href="https://asthma.org.au/about-asthma/triggers/bushfire-smoke/" style="color: #1079dd">Asthma Australia</a> for more advice.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show25();" id="255" class="btn-show">
                                >&nbspOTHER LUNG CONDITIONS
                            </a>
                        </h4>
                        <div class="hpn" id="25" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                <a href="" style="color: #1079dd">OTHER LUNG CONDITIONS</a><br>
                                If you have an existing condition such as chronic <a href="https://www.healthdirect.gov.au/bronchitis" style="color: #1079dd"> bronchitis</a> or <a href="https://www.healthdirect.gov.au/emphysema" style="color: #1079dd">emphysema</a>, smoke can make your symptoms worse. Make sure you follow your<a href="https://www.healthdirect.gov.au/copd" style="color: #1079dd"> COPD</a> action plan, and seek medical advice if necessary. Visit<a href="https://lungfoundation.com.au/" style="color: #1079dd"> The Lung Foundation website</a> for more advice.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show26();" id="266" class="btn-show">
                                >&nbspHEART AND CARDIOVASCULAR CONDITIONS
                            </a>
                        </h4>
                        <div class="hpn" id="26" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                <a href="https://www.healthdirect.gov.au/heart-and-cardiovascular-conditions" style="color: #1079dd">HEART AND CARDIOVASCULAR CONDITIONS</a><br>
                                Smoke from bushfires can get into the bloodstream, contributing to inflammation and the narrowing of blood vessels. This can worsen existing conditions such as high blood pressure or heart failure. Read the<a href="https://www.heartfoundation.org.au/news/heart-health-warning-as-australians-face-smoke-haze" style="color: #1079dd"> Heart Foundation factsheet</a> on bushfires and heart health.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show27();" id="277" class="btn-show">
                                >&nbspDIABETES
                            </a>
                        </h4>
                        <div class="hpn" id="27" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                <a href="https://www.healthdirect.gov.au/diabetes" style="color: #1079dd">DIABETES</a><br>
                                If you have type 1 or 2 diabetes and are affected by a bushfire, it's essential that you know where to access more medication. Visit the <a href="https://www.ndss.com.au/news/have-you-been-affected-by-bushfires-or-other-disasters-do-you-need-help/" style="color: #1079dd">National Diabetes Service Scheme (NDSS)</a> to find your nearest NDSS access point. If you have any questions about your diabetes medication, call the NDSS Helpline on 1800 637 700.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show28();" id="288" class="btn-show">
                                >&nbspPREGNANCY
                            </a>
                        </h4>
                        <div class="hpn" id="28" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                <a href="https://www.healthdirect.gov.au/pregnancy" style="color: #1079dd">PREGNANCY</a><br>
                                Pregnant women should minimise their exposure to bushfire smoke. Prolonged exposure to air pollution in pregnancy has been linked to an increased risk of premature birth, lower birth weight, pre-eclampsia and gestational diabetes. Find out how to help protect yourself at<a href="https://www.pregnancybirthbaby.org.au/blog/pregnant-women-children-and-bushfire-smoke" style="color: #1079dd"> Pregnancy Birth and Baby.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show29();" id="299" class="btn-show">
                                >&nbspOLDER PEOPLE
                            </a>
                        </h4>
                        <div class="hpn" id="29" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                <a href="https://www.healthdirect.gov.au/seniors-health" style="color: #1079dd">OLDER PEOPLE</a><br>
                                The elderly are more at risk during a bushfire or when exposed to smoke. If you're an older person, make a plan to leave early if your area is likely to be affected and share the plan with carers or neighbours. If you're a younger person, offer to help elderly family, friends or neighbours.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 123123123
        @* 123123123*@
        @* 123123123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show23();" id="zxc" class="btn-show">
                    >&nbspWHAT ARE BURNS AND SCALDS?
                </a>
            </h2>
            <div class="hpn" id="zx" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Burns are damage to the tissue of your body caused by heat, too much sun, chemicals or electricity. Scalds are caused by hot water.<br>
                    Burns and scalds can range from being a minor injury to a life-threatening emergency. It depends how deep and how large they are.<br>
                    A superficial burn affects the outer layer of skin. It may be blistered, red and painful<br>
                    A deep burn may be mottled red and white.  It may be dark red or pale yellow. It will be painful and is often blistered.<br>
                    A full thickness burn reaches as far as the fat underneath the skin. It may look brown, black or white, and feel dry and leathery. A full thickness burn can destroy nerves so may not be painful.
                </p>
            </div>
        </div>
        @* 123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsdiv();" id="abchref" class="btn-show">
                    >&nbspWHAT ARE BURNS AND SCALDS?
                </a>
            </h2>
            <div class="hpn" id="cc" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Call an ambulance or go straight to your nearest emergency department if:<br>
                    •	the burn is deep, even if the patient does not feel any pain<br>
                    •	the burn is larger than a 20 cent piece<br>
                    •	the burn involves the airway, face, hands or genitals<br>
                    •	the skin looks leathery<br>
                    •	there are patches of brown, black or white<br>
                    •	the burn was caused by chemicals or electricity<br>
                    •	the patient is having trouble breathing
                </p>
            </div>
        </div>
        @* 123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsssdiv();" id="ghihref" class="btn-show">
                    >&nbspWHAT SHOULD I DO WHILE WAITING FOR AN AMBULANCE?
                </a>
            </h2>
            <div class="hpn" id="ee" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    First, remove the source of the burn:<br>
                    •	If the patient is on fire, drop them to the ground and roll them or cover them in a blanket to put out the flames.<br>
                    •	If there is an electrical current, turn off the electricity.<br>
                    •	If it’s a chemical burn, take off any contaminated clothing and wash the affected area of skin with plenty of water. For dry chemicals, brush off the chemicals before putting the burnt area under water.<br>
                    <br>
                    As soon as possible, put the burnt area under cool running water for at least 20 minutes:<br>
                    •	Don’t use ice (only apply water to the burnt area).<br>
                    •	Remove any clothing or jewellery near the burn.<br>
                    •	Don’t remove anything that is stuck to the burn.<br>
                    <br>
                    Cover the burn:<br>
                    •	Use a light, loose, non-stick dressing. Use non-fluffy material. Plastic cling film is a good choice.<br>
                    •	If the burn is to an arm or leg, raise it whenever possible to reduce swelling.
                </p>
            </div>
        </div>
        @*123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showssdiv();" id="defhref" class="btn-show">
                    >&nbspWHAT SHOULD I AVOID DOING WHILE WAITING FOR AN AMBULANCE?
                </a>
            </h2>
            <div class="hpn" id="dd" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Avoid the following:<br>
                    •	Don’t touch the burn or apply ice.<br>
                    •	Don’t put a child with burns into a bath full of cold water.<br>
                    •	If blisters develop don’t pop them, and visit your doctor in case they need to be removed.<br>
                    •	Don’t use any ointments, creams, lotions or fat on a burn. They seal heat in and cause more damage.
                </p>
            </div>
        </div>
        @*123*@
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show30();" id="300" class="btn-show">
                    >&nbspLOOK AFTER YOUR MENTAL HEALTH
                </a>
            </h2>
            <div class="hpn" id="30" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    During a bushfire emergency, and when returning home, it is important to take care of yourself and your mental health.<br>
                    Remember to:<br>
                    •	Spend time with family and friends<br>
                    •	Try to get back to a routine but don’t push yourself and work too hard<br>
                    •	Continue a healthy lifestyle (try to eat well, sleep and exercise)<br>
                    •	Take time out, but don’t isolate yourself<br>
                    •	Accept help when it’s offered<br>
                    •	Limit the amount of media coverage you see and hear
                </p>
            </div>
        </div>
    </div>
    </div>
</div>

<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:470px">
        <a href="~/Home/Bushfire">CLICK HERE TO GO BACK TO THE BUSHFIRES MAIN PAGE</a>
    </h4>
</div>


        <script type="text/javascript">
    function showdiv() {
                document.getElementById('mm').style.display = 'block';
                document.getElementById('strhref').innerHTML = "∨&nbspSTAY INFORMED ABOUT THE BUSHFIRE WARNINGS";
                document.getElementById('strhref').href = "javascript:hidediv()";
            }
            function hidediv() {
                document.getElementById('mm').style.display = 'none';
                document.getElementById('strhref').innerHTML = ">&nbspSTAY INFORMED ABOUT THE BUSHFIRE WARNINGS";
                document.getElementById('strhref').href = "javascript:showdiv()";

            }

            function showsdiv() {
                document.getElementById('cc').style.display = 'block';
                document.getElementById('abchref').innerHTML = "∨&nbspWHAT ARE BURNS AND SCALDS?";
                document.getElementById('abchref').href = "javascript:hidesdiv()";
            }
            function hidesdiv() {
                document.getElementById('cc').style.display = 'none';
                document.getElementById('abchref').innerHTML = ">&nbspWHAT ARE BURNS AND SCALDS?";
                document.getElementById('abchref').href = "javascript:showsdiv()";

            }

            function showssdiv() {
                document.getElementById('dd').style.display = 'block';
                document.getElementById('defhref').innerHTML = "∨&nbspWHAT SHOULD I AVOID DOING WHILE WAITING FOR AN AMBULANCE?"
                document.getElementById('defhref').href = "javascript:hidessdiv()";
            }
            function hidessdiv() {
                document.getElementById('dd').style.display = 'none';
                document.getElementById('defhref').innerHTML = ">&nbspWHAT SHOULD I AVOID DOING WHILE WAITING FOR AN AMBULANCE?";
                document.getElementById('defhref').href = "javascript:showssdiv()";

            }

            function showsssdiv() {
                document.getElementById('ee').style.display = 'block';
                document.getElementById('ghihref').innerHTML = "∨&nbspWHAT SHOULD I DO WHILE WAITING FOR AN AMBULANCE?"
                document.getElementById('ghihref').href = "javascript:hidesssdiv()";
            }
            function hidesssdiv() {
                document.getElementById('ee').style.display = 'none';
                document.getElementById('ghihref').innerHTML = ">&nbspWHAT SHOULD I DO WHILE WAITING FOR AN AMBULANCE?";
                document.getElementById('ghihref').href = "javascript:showsssdiv()";

            }

            function show1() {
                document.getElementById('ff').style.display = 'block';
                document.getElementById('fff').innerHTML = "∨&nbspDEAF EMERGENCY INFO"
                document.getElementById('fff').href = "javascript:hide1()";
            }
            function hide1() {
                document.getElementById('ff').style.display = 'none';
                document.getElementById('fff').innerHTML = ">&nbspDEAF EMERGENCY INFO";
                document.getElementById('fff').href = "javascript:show1()";
            }

            function show2() {
                document.getElementById('gg').style.display = 'block';
                document.getElementById('ggg').innerHTML = "∨&nbspRESOURCES AND SUPPORT"
                document.getElementById('ggg').href = "javascript:hide2()";
            }
            function hide2() {
                document.getElementById('gg').style.display = 'none';
                document.getElementById('ggg').innerHTML = ">&nbspRESOURCES AND SUPPORT";
                document.getElementById('ggg').href = "javascript:show2()";

            }
            function show3() {
                document.getElementById('hh').style.display = 'block';
                document.getElementById('hhh').innerHTML = "∨&nbspTRAPPED INSIDE VEHICLES IN A BUSHFIRE?"
                document.getElementById('hhh').href = "javascript:hide3()";
            }
            function hide3() {
                document.getElementById('hh').style.display = 'none';
                document.getElementById('hhh').innerHTML = ">&nbspTRAPPED INSIDE VEHICLES IN A BUSHFIRE?";
                document.getElementById('hhh').href = "javascript:show3()";

            }

            function show4() {
                document.getElementById('ii').style.display = 'block';
                document.getElementById('iii').innerHTML = "∨&nbspPOSITIONING YOUR VEHICLE"
                document.getElementById('iii').href = "javascript:hide4()";
            }
            function hide4() {
                document.getElementById('ii').style.display = 'none';
                document.getElementById('iii').innerHTML = ">&nbspPOSITIONING YOUR VEHICLE";
                document.getElementById('iii').href = "javascript:show4()";

            }

            function show5() {
                document.getElementById('jj').style.display = 'block';
                document.getElementById('jjj').innerHTML = "∨&nbspACTIONS TO TAKE INSIDE YOUR VEHICLE"
                document.getElementById('jjj').href = "javascript:hide5()";
            }
            function hide5() {
                document.getElementById('jj').style.display = 'none';
                document.getElementById('jjj').innerHTML = ">&nbspACTIONS TO TAKE INSIDE YOUR VEHICLE";
                document.getElementById('jjj').href = "javascript:show5()";

            }
            function show6() {
                document.getElementById('kk').style.display = 'block';
                document.getElementById('kkk').innerHTML = ">&nbspWHAT TO EXPECT AS THE FIRE FRONT PASSES"
                document.getElementById('kkk').href = "javascript:hide6()";
            }
            function hide6() {
                document.getElementById('kk').style.display = 'none';
                document.getElementById('kkk').innerHTML = ">&nbspWHAT TO EXPECT AS THE FIRE FRONT PASSES";
                document.getElementById('kkk').href = "javascript:show6()";

            }

            function show7() {
                document.getElementById('ll').style.display = 'block';
                document.getElementById('lll').innerHTML = "∨&nbspSTAYING BACK TO DEFEND YOUR PROPERTY?"
                document.getElementById('lll').href = "javascript:hide7()";
            }
            function hide7() {
                document.getElementById('ll').style.display = 'none';
                document.getElementById('lll').innerHTML = ">&nbspSTAYING BACK TO DEFEND YOUR PROPERTY?";
                document.getElementById('lll').href = "javascript:show7()";

            }

            function show8() {
                document.getElementById('nn').style.display = 'block';
                document.getElementById('nnn').innerHTML = "∨&nbspBEFORE THE FIRE FRONT ARRIVES"
                document.getElementById('nnn').href = "javascript:hide8()";
            }
            function hide8() {
                document.getElementById('nn').style.display = 'none';
                document.getElementById('nnn').innerHTML = ">&nbspBEFORE THE FIRE FRONT ARRIVES";
                document.getElementById('nnn').href = "javascript:show8()";

            }

            function show9() {
                document.getElementById('oo').style.display = 'block';
                document.getElementById('ooo').innerHTML = "∨&nbspWHEN FIRE FRONT ARRIVES"
                document.getElementById('ooo').href = "javascript:hide9()";
            }
            function hide9() {
                document.getElementById('oo').style.display = 'none';
                document.getElementById('ooo').innerHTML = ">&nbspWHEN FIRE FRONT ARRIVES";
                document.getElementById('ooo').href = "javascript:show9()";

            }

            function show10() {
                document.getElementById('pp').style.display = 'block';
                document.getElementById('ppp').innerHTML = "∨&nbspAFTER FIRE FRONT HAS PASSED"
                document.getElementById('ppp').href = "javascript:hide10()";
            }
            function hide10() {
                document.getElementById('pp').style.display = 'none';
                document.getElementById('ppp').innerHTML = ">&nbspAFTER FIRE FRONT HAS PASSED";
                document.getElementById('ppp').href = "javascript:show10()";

            }
            function show11() {
                document.getElementById('qq').style.display = 'block';
                document.getElementById('qqq').innerHTML = "∨&nbspBUSHFIRE RATINGS AND WHAT THEY MEAN?"
                document.getElementById('qqq').href = "javascript:hide11()";
            }
            function hide11() {
                document.getElementById('qq').style.display = 'none';
                document.getElementById('qqq').innerHTML = ">&nbspBUSHFIRE RATINGS AND WHAT THEY MEAN?";
                document.getElementById('qqq').href = "javascript:show11()";

            }

            function show12() {
                document.getElementById('rr').style.display = 'block';
                document.getElementById('rrr').innerHTML = "∨&nbspLOW-MODERATE"
                document.getElementById('rrr').href = "javascript:hide12()";
            }
            function hide12() {
                document.getElementById('rr').style.display = 'none';
                document.getElementById('rrr').innerHTML = ">&nbspLOW-MODERATE";
                document.getElementById('rrr').href = "javascript:show12()";

            }

            function show13() {
                document.getElementById('ss').style.display = 'block';
                document.getElementById('sss').innerHTML = "∨&nbspHIGH"
                document.getElementById('sss').href = "javascript:hide13()";
            }
            function hide13() {
                document.getElementById('ss').style.display = 'none';
                document.getElementById('sss').innerHTML = ">&nbspHIGH";
                document.getElementById('ss').href = "javascript:show13()";

            }

            function show14() {
                document.getElementById('tt').style.display = 'block';
                document.getElementById('ttt').innerHTML = "∨&nbspVERY HIGH"
                document.getElementById('ttt').href = "javascript:hide14()";
            }
            function hide14() {
                document.getElementById('tt').style.display = 'none';
                document.getElementById('ttt').innerHTML = ">&nbspVERY HIGH";
                document.getElementById('ttt').href = "javascript:show14()";

            }

            function show15() {
                document.getElementById('uu').style.display = 'block';
                document.getElementById('uuu').innerHTML = "∨&nbspSEVERE"
                document.getElementById('uuu').href = "javascript:hide15()";
            }
            function hide15() {
                document.getElementById('uu').style.display = 'none';
                document.getElementById('uuu').innerHTML = ">&nbspSEVERE";
                document.getElementById('uuu').href = "javascript:show15()";

            }

            function show16() {
                document.getElementById('vv').style.display = 'block';
                document.getElementById('vvv').innerHTML = "∨&nbspExtreme"
                document.getElementById('vvv').href = "javascript:hide16()";
            }
            function hide16() {
                document.getElementById('vv').style.display = 'none';
                document.getElementById('vvv').innerHTML = ">&nbspExtreme";
                document.getElementById('vvv').href = "javascript:show16()";

            }

            function show17() {
                document.getElementById('ww').style.display = 'block';
                document.getElementById('www').innerHTML = "∨&nbspCatastrophic"
                document.getElementById('www').href = "javascript:hide17()";
            }
            function hide17() {
                document.getElementById('ww').style.display = 'none';
                document.getElementById('www').innerHTML = ">&nbspCatastrophic";
                document.getElementById('www').href = "javascript:show17()";

            }

            function show18() {
                document.getElementById('xx').style.display = 'block';
                document.getElementById('xxx').innerHTML = "∨&nbspINSIDE"
                document.getElementById('xxx').href = "javascript:hide18()";
            }
            function hide18() {
                document.getElementById('xx').style.display = 'none';
                document.getElementById('xxx').innerHTML = ">&nbspINSIDE";
                document.getElementById('xxx').href = "javascript:show18()";

            }

            function show19() {
                document.getElementById('yy').style.display = 'block';
                document.getElementById('yyy').innerHTML = "∨&nbspOUTSIDE"
                document.getElementById('yyy').href = "javascript:hide19()";
            }
            function hide19() {
                document.getElementById('yy').style.display = 'none';
                document.getElementById('yyy').innerHTML = ">&nbspOUTSIDE";
                document.getElementById('yyy').href = "javascript:show19()";

            }
            function show20() {
                document.getElementById('zz').style.display = 'block';
                document.getElementById('zzz').innerHTML = "∨&nbspCatastrophic"
                document.getElementById('zzz').href = "javascript:hide20()";
            }

            function hide20() {
                document.getElementById('zz').style.display = 'none';
                document.getElementById('zzz').innerHTML = ">&nbspCatastrophic";
                document.getElementById('zzz').href = "javascript:show20()";

            }

           
            function show21() {
                document.getElementById('qw').style.display = 'block';
                document.getElementById('qwe').innerHTML = "∨&nbspPROTECT YOURSELF FROM BUSHFIRE SMOKE"
                document.getElementById('qwe').href = "javascript:hide21()";
            }

            function hide21() {
                document.getElementById('qw').style.display = 'none';
                document.getElementById('qwe').innerHTML = ">&nbspPROTECT YOURSELF FROM BUSHFIRE SMOKE";
                document.getElementById('qwe').href = "javascript:show21()";

            }

            function show22() {
                document.getElementById('as').style.display = 'block';
                document.getElementById('asd').innerHTML = "∨&nbspWHO HAS MORE HEALTH RISKS DURING BUSHFIRES"
                document.getElementById('asd').href = "javascript:hide22()";
            }

            function hide22() {
                document.getElementById('as').style.display = 'none';
                document.getElementById('asd').innerHTML = ">&nbspWHO HAS MORE HEALTH RISKS DURING BUSHFIRES";
                document.getElementById('asd').href = "javascript:show22()";

            }

            function show23() {
                document.getElementById('zx').style.display = 'block';
                document.getElementById('zxc').innerHTML = "∨&nbspWHEN SHOULD I CALL AN AMBULANCE?"
                document.getElementById('zxc').href = "javascript:hide23()";
            }

            function hide23() {
                document.getElementById('zx').style.display = 'none';
                document.getElementById('zxc').innerHTML = ">&nbspWHEN SHOULD I CALL AN AMBULANCE?";
                document.getElementById('zxc').href = "javascript:show23()";

            }

            function show24() {
                document.getElementById('24').style.display = 'block';
                document.getElementById('244').innerHTML = "∨&nbspASTHMA"
                document.getElementById('244').href = "javascript:hide24()";
            }

            function hide24() {
                document.getElementById('24').style.display = 'none';
                document.getElementById('244').innerHTML = ">&nbspASTHMA";
                document.getElementById('244').href = "javascript:show24()";

            }

            function show25() {
                document.getElementById('25').style.display = 'block';
                document.getElementById('255').innerHTML = "∨&nbspOTHER LUNG CONDITIONS"
                document.getElementById('255').href = "javascript:hide25()";
            }

            function hide25() {
                document.getElementById('25').style.display = 'none';
                document.getElementById('255').innerHTML = ">&nbspOTHER LUNG CONDITIONS";
                document.getElementById('255').href = "javascript:show25()";

            }


            function show26() {
                document.getElementById('26').style.display = 'block';
                document.getElementById('266').innerHTML = "∨&nbspHEART AND CARDIOVASCULAR CONDITIONS"
                document.getElementById('266').href = "javascript:hide26()";
            }

            function hide26() {
                document.getElementById('26').style.display = 'none';
                document.getElementById('266').innerHTML = ">&nbspHEART AND CARDIOVASCULAR CONDITIONS";
                document.getElementById('266').href = "javascript:show26()";

            }

            function show27() {
                document.getElementById('27').style.display = 'block';
                document.getElementById('277').innerHTML = "∨&nbspDIABETES"
                document.getElementById('277').href = "javascript:hide27()";
            }

            function hide27() {
                document.getElementById('27').style.display = 'none';
                document.getElementById('277').innerHTML = ">&nbspDIABETES";
                document.getElementById('277').href = "javascript:show27()";

            }

            function show28() {
                document.getElementById('28').style.display = 'block';
                document.getElementById('288').innerHTML = "∨&nbspPREGNANCY"
                document.getElementById('288').href = "javascript:hide28()";
            }

            function hide28() {
                document.getElementById('28').style.display = 'none';
                document.getElementById('288').innerHTML = ">&nbspPREGNANCY";
                document.getElementById('288').href = "javascript:show28()";

            }

            function show29() {
                document.getElementById('29').style.display = 'block';
                document.getElementById('299').innerHTML = "∨&nbspOLDER PEOPLE"
                document.getElementById('299').href = "javascript:hide29()";
            }

            function hide29() {
                document.getElementById('29').style.display = 'none';
                document.getElementById('299').innerHTML = ">&nbspOLDER PEOPLE";
                document.getElementById('299').href = "javascript:show29()";

            }

            function show30() {
                document.getElementById('30').style.display = 'block';
                document.getElementById('300').innerHTML = "∨&nbspLOOK AFTER YOUR MENTAL HEALTH"
                document.getElementById('300').href = "javascript:hide30()";
            }

            function hide30() {
                document.getElementById('30').style.display = 'none';
                document.getElementById('300').innerHTML = ">&nbspLOOK AFTER YOUR MENTAL HEALTH";
                document.getElementById('300').href = "javascript:show30()";

            }
        </script>



        <style type="text/css">
            * {
                padding: 0;
                margin: 0;
            }

            .pn {
                width: 400px;
                margin: 200px auto 0;
                background-color: #fff;
                text-align: center;
                padding: 0 100px;
            }

            .slide a {
                display: block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                margin: 0 auto;
                background-color: #fff;
                text-decoration: none;
                color: #000;
            }
        </style>

