<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold">The Vegetation In High Country</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-left: 8%; color:#000000">
                KNOW ABOUT THE VEGETATION IN HIGH COUNTRY<br>
            </h1>
            <p style="margin-left: 21%">
                <img src="~/img/Land2.jpg"><br>
            </p>
            <p style="color:#000000">
                Variations in vegetation communities within altitudinal zones are associated with variations in topography, soils and aspect. The topography of the Alps varies enormously, from sheer escarpments and deep gorges to rolling hilltops and shallow basins. The relief of differing land forms contributes to the development of a range of soils that vary in depth, structure and content, all of which are important factors in determining vegetation communities. In the alpine zone, for instance, shallow soils found on rocky, exposed ridges and scree slopes support shrubby heathland. The soils of the gentle slopes and rounded hilltops are deeper and loamy and carry alpine herb-fields and tussock grasslands. Bog plant communities are found on peats developed in the bottoms of basin-like valleys.
            </p>
        </div>
    </div>
</div>


<div class="container" style="margin-top:30px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsdiv();" id="abchref" class="btn-show">
                    >&nbspTHE TYPE OF VEGETATION ON HIGH COUNTRY
                </a>
            </h2>
            <div class="hpn" id="cc" style="display:none;">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show1();" id="fff" class="btn-show">
                                >&nbspWOODLAND
                            </a>
                        </h4>
                        <div class="hpn" id="ff" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                These occur in the river valleys and foothills or tableland in and around the Australian Alps. Woodland is an open community of shorter trees (10 – 30m), with a generally grassy understorey. Key species are Mountain Swamp Gum (Eucalyptus camphora) (Vic) or Yellow Box (Eucalyptus melliodora) (NSW, ACT) and River Red Gum (Eucalyptus camaldulensis).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show2();" id="ggg" class="btn-show">
                                >&nbspOPEN FORESTS
                            </a>
                        </h4>
                        <div class="hpn" id="gg" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Open Forests occur on the drier north and west-facing steep montane slopes and gentler lowland hills. They are characterised by fire resistant eucalypts, woody shrubs and grasses that tolerate drier conditions. Key species are Red Stringybark (Eucalytptusmacrorhyncha), Broad-leaved Peppermint (Eucalyptus dives) (Vic) and White Gum (Eucalyptus rossii).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show3();" id="hhh" class="btn-show">
                                >&nbspTALL OPEN FORESTS
                            </a>
                        </h4>
                        <div class="hpn" id="hh" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Tall open forests occur on the extensive, moist south and east-facing slopes of the steep montane zone on deep, well-structured soils built up from aeons of deposition from above and litter induced by high precipitation and moderate temperatures. The environment is moist and the understorey generally lush and thick and characterised by ferns and other moisture-loving plants. The plants of this zone are usually fire sensitive. Key species are Narrow-leaved Peppermint (Eucalyptus radiata) (Vic), Candlebark (Eucalyptus rubida) (Vic), Brown Barrel (Eucalyptus fastigata) and Mountain Gum (Eucalyptus dalrympleana (NSW, ACT) and Manna Gum (Eucalyptus viminalis).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show4();" id="iii" class="btn-show">
                                >&nbspALPINE ASH FOREST (AKA WET SCHEROPHYL FOREST)
                            </a>
                        </h4>
                        <div class="hpn" id="ii" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Alpine Ash Forest, dominated by Alpine Ash (Eucalyptus delegatensis) and Mountain Gum (Eucalyptus dalrympleana), occurs in the moist, upper levels of the montane zone. This forest is characterised by tall, straight trees and a fairly open understorey of grasses, herbs and some shrubs. Soils built up from higher level deposition and litter build-up induced by high precipitation and moderate temperatures creates a fertile environment. Alpine Ash exhibits seed dormancy which, in contrast to other montane species, enables it to tolerate the colder temperatures of higher elevations. However Alpine Ash is very fire sensitive, so regeneration is reliant on the seed bank in mature trees.

                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show5();" id="jjj" class="btn-show">
                                >&nbspSUBALPINE WOODLAND
                            </a>
                        </h4>
                        <div class="hpn" id="jj" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                occurs on the more sheltered areas of the undulating plateaus of the subalpine zone. It is dominated by Snow Gum (Eucalyptus pauciflora), the only species of tree able to grow at this altitude, the understorey is typically a grassland or herbfield community. At the highest and coldest elevations, Snow Gums grow in shrub or mallee form (stunted with many stems). They are not found in rocky, stony or waterlogged areas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show6();" id="kkk" class="btn-show">
                                >&nbspALPINE SHRUBBY HEATHLAND
                            </a>
                        </h4>
                        <div class="hpn" id="kk" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                It is found in the less sheltered areas of the subalpine zone and in the alpine zone on the shallow, stony, well-drained soils of stony slopes and on rocky ridges. Dominated by shrubs, the community is sparsely populated by woody heaths interspersed with herbs and tussock grasses. The key species are Yellow Kunzea (Kunzeaericifolia), Alpine Grevillea (Grevillea australis), Leafy Bossiaea (Bossiaea foliosa) (Vic), Common Oxylobium (Oxylobium ellipticum) (NSW) and Mountain Plum Pine (Podocarpuslawrencei).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show12();" id="rrr" class="btn-show">
                                >&nbspTUSSOCK GRASSLAND
                            </a>
                        </h4>
                        <div class="hpn" id="rr" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Tussock Grassland occurs on the less well-drained areas of the subalpine zone and is often associated with cold air drainage basins below the tree line the community is characterised by separate grass tussocks, the tops of which form a closed canopy of interlacing leaves. Shade-tolerant herbs may occupy the spaces between the tussocks. The key species are Prickly Snow Grass (Poacostiniana) and Mountain Gentian (Gentianella diemensis).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show13();" id="sss" class="btn-show">
                                >&nbspTALL ALPINE HERBFIELD
                            </a>
                        </h4>
                        <div class="hpn" id="ss" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                It occurs on well-drained slopes and rolling hilltops of the subalpine and alpine zones in relatively sheltered sites without exposure to strong winds and waterlogged or stony soils. The community is characterised by tussock grasses and small herbs growing together to form a continuous cover. The key species are Snow Daisies (Celmisiaspp), Snow Grasses (Poa spp.) and Billy Buttons (Craspedia spp.).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show14();" id="ttt" class="btn-show">
                                >&nbspALPINE BOG
                            </a>
                        </h4>
                        <div class="hpn" id="tt" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                These bogs occur in the subalpine and alpine zones on permanently wet sites and is dominated by hummock forming Sphagnum Moss (Sphagnum cristatum) growing with sedges, rushes and wetland heaths. Bogs are generally spring-fed seepages on hillsides and edges of valleys. In still wetter parts - such as valley floors - Sphagnum disappears and the sedges form a fen. Other key species are Pineapple Grass (Asteliaalpina) (Vic) and Swamp Heath (Epacris paludosa).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show15();" id="uuu" class="btn-show">
                                >&nbspSHORT ALPINE HERBFIELD
                            </a>
                        </h4>
                        <div class="hpn" id="uu" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                It is found in the alpine and subalpine zones, specifically below long lasting snow patches. Here the environment is colder and thus the growing season shorter and soils frequently wetter than in Alpine Herbfields. The key species are Alpine Marsh Marigold (Caltha introloba), Alpine Wallaby Grass (Danthonia nudiflora) (Vic), Alpine Plantain (Plantago sp.), Alpine Trachymene (Trachymene humilis) (Vic) and White Purslane (Neopaxiaaustralasica) (NSW).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="test" style="color: #FFFFFF; background: #F39C12; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                            <a href="javascript:show16();" id="vvv" class="btn-show">
                                >&nbspFELDMARK
                            </a>
                        </h4>
                        <div class="hpn" id="vv" style="display:none;">
                            <p style="color: #000000; font-size: 20px">
                                Feldmark communities only occur in the alpine zone of NSW on exposed ridges at the highest elevations where they are exposed to high winds, coldest temperatures and severe frosts. They are characterised by an open community of sparsely growing, dwarf plants dominated by cushion-forming or prostrate species only a few inches high with bare earth and rock in between. The key species are Rock Heath (Epacris petrophila), Chionohebe (Chionohebedensifolia), Spreading Coprosma (Coprosma pumila) and Hard Cushion Plant (Colobanthuspulvinifica).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show8();" id="nnn" class="btn-show">
                    >&nbspPROBLEMS
                </a>
                </h2>
                <div class="hpn" id="nn" style="display:none;">
                    <p style="color: #000000; font-size: 20px">
                        •Extremely short growing season following a long cold and snowy winter-spring period<br>
                        •strong winds<br>
                        •snow and ice<br>
                        •shorter daily photosynthetic periods<br>
                        •needle ice will lift and break root of poorly anchored young plants<br>
                        •water locked up in snow and ice is unavailable to plants<br>
                        •bushfires
                    </p>
                </div>
</div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show9();" id="ooo" class="btn-show">
                    >&nbspPLANTS AND FIRE
                </a>
                </h2>
                <div class="hpn" id="oo" style="display:none;">
                    <p style="color: #000000; font-size: 20px">
                        Fires have been a natural part of the landscape in south-eastern Australia for thousands of years, although always less frequent and of lower intensity in the alpine environment. Many plants in the Australian Alps have evolved to live with fire and some plants have developed special adaptations in response to fire. The effect of one fire is not as environmentally significant as the frequency, timing and intensity of fires over many years. This is called the fire regime and plants in Australia have adapted to particular fire regimes in different ecological zones and regions.<br>

                        The alpine vegetation communities have adapted to a regime of infrequent and low intensity fires. Most plant species survive bushfires by using one or both of two basic mechanisms<br>
                        •	one involving resprouting of damaged plants<br>
                        •	 the other a range of responses which result in new plants being established from seed.<br>
                        Fires of the right intensity and timing can trigger a successful survival response. However, harmful effects can follow fires that occur at the wrong time and fires that recur at the wrong frequency. The way in which some plants respond to fire is not always a specific fire adaptation. It may be a general response to stress and could be triggered by drought, frost, disease or browsing.

                    </p>
                </div>
</div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show10();" id="ppp" class="btn-show">
                    >&nbspTHE LIST OF THE MAJOR VEGETATION SPECIES
                </a>
                </h2>
                <div class="hpn" id="pp" style="display:none;">
                    <p style="color: #000000; font-size: 20px">
                        •	Alpine Ash, Eucalyptus delegatensis<br>
                        •	Anenome Buttercup, Ranunculus anemoneus<br>
                        •	Billy Button, Craspediasp<br>
                        •	Black Willow, Salix nigra<br>
                        •	Bogong Daisy-bush, Olearia frostii<br>
                        •	Dandelion, Taraxacum officinale<br>
                        •	English Broom, Cytisusscoparius<br>
                        •	Himalayan Honeysuckle, Leycesteriaformosa<br>
                        •	Lupin, Lupinusangustifolius<br>
                        •	Marsh Marigold, Caltha intoloba<br>
                        •	Mountain Plum Pine, Podocarpuslawrencei<br>
                        •	Orange Hawkweed, Hieraciumaurantiacum<br>
                        •	Radiata Pine, Pinus radiata<br>
                        •	Scotch Thistle, Onopordumacanthium<br>
                        •	Silky Daisy Bush, Olearia erubescens<br>
                        •	Silver Daisy, Celmisiaasteliifolia<br>
                        •	Snow Daisy, Brachycome nivalis<br>
                        •	Snow Gum, Eucalyptus pauciflora<br>
                        •	Sorrel, Acetosella vulgaris<br>
                        •	St John’s Wort, Hypericum perforatum<br>
                        •	Trigger Plant, Stylidiumgraminifolium<br>
                        •	Twiggy Mullein, Verbascum virgatum<br>
                        •	White clover, Trifolium repens<br>
                        •	Yarrow, Achillea millefolium
                    </p>
                </div>
</div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsssdiv();" id="ghihref" class="btn-show">
                    >&nbspFOR MORE INFORMATION, YOU CAN GO TO:
                </a>
            </h2>
            <div class="hpn" id="ee" style="display:none;">
                <p style="color: #000000; font-size: 20px">
                    <a href="https://www.ala.org.au/#tab_pane-B" style="color: #1079dd">•Atlas of Living Australia:</a><br>
                    <a href="https://vicflora.rbg.vic.gov.au/" style="color: #1079dd">•Flora of Victoria</a><br>
                    <a href="https://www.agriculture.gov.au/abares/forestsaustralia/forest-data-maps-and-tools/spatial-data" style="color: #1079dd">•Forest spatial data</a><br>
                    <a href="https://www.dpi.nsw.gov.au/" style="color: #1079dd">•Department of primary industries</a><br>
                    <a href="http://www.ecosmagazine.com/?act=view_file&file_id=EC22p24.pdf" style="color: #1079dd">•A high-country perspective</a><br>
                    <a href="https://www.environment.nsw.gov.au/-/media/OEH/Corporate-Site/Documents/Land-and-soil/vegetation-high-mountains-australia-land-use-1959.pdf" style="color: #1079dd">•Vegetation of high mountains in Australia in relation to land use</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:30%">
        <a href="~/Home/Explore">CLICK HERE TO GO BACK TO THE EXPLORE PAGE</a>
    </h4>
</div>

<script type="text/javascript">function showdiv() {
            document.getElementById('mm').style.display = 'block';
            document.getElementById('strhref').innerHTML = "∨&nbspWHAT ARE BUSHFIRES?";
            document.getElementById('strhref').href = "javascript:hidediv()";
        }
        function hidediv() {
            document.getElementById('mm').style.display = 'none';
            document.getElementById('strhref').innerHTML = ">&nbspWHAT ARE BUSHFIRES?";
            document.getElementById('strhref').href = "javascript:showdiv()";

        }

        function showsdiv() {
            document.getElementById('cc').style.display = 'block';
            document.getElementById('abchref').innerHTML = "∨&nbspTHE TYPE OF VEGETATION ON HIGH COUNTRY";
            document.getElementById('abchref').href = "javascript:hidesdiv()";
        }
        function hidesdiv() {
            document.getElementById('cc').style.display = 'none';
            document.getElementById('abchref').innerHTML = ">&nbspTHE TYPE OF VEGETATION ON HIGH COUNTRY";
            document.getElementById('abchref').href = "javascript:showsdiv()";

        }

        function showssdiv() {
            document.getElementById('dd').style.display = 'block';
            document.getElementById('defhref').innerHTML = "∨&nbspARE BUSHFIRES NATURAL?"
            document.getElementById('defhref').href = "javascript:hidessdiv()";
        }
        function hidessdiv() {
            document.getElementById('dd').style.display = 'none';
            document.getElementById('defhref').innerHTML = ">&nbspARE BUSHFIRES NATURAL?";
            document.getElementById('defhref').href = "javascript:showssdiv()";

        }

        function showsssdiv() {
            document.getElementById('ee').style.display = 'block';
            document.getElementById('ghihref').innerHTML = "∨&nbspFOR MORE INFORMATION, YOU CAN GO TO:"
            document.getElementById('ghihref').href = "javascript:hidesssdiv()";
        }
        function hidesssdiv() {
            document.getElementById('ee').style.display = 'none';
            document.getElementById('ghihref').innerHTML = ">&nbspFOR MORE INFORMATION, YOU CAN GO TO:";
            document.getElementById('ghihref').href = "javascript:showsssdiv()";

        }

        function show1() {
            document.getElementById('ff').style.display = 'block';
            document.getElementById('fff').innerHTML = "∨&nbspWOODLAND"
            document.getElementById('fff').href = "javascript:hide1()";
        }
        function hide1() {
            document.getElementById('ff').style.display = 'none';
            document.getElementById('fff').innerHTML = ">&nbspWOODLAND";
            document.getElementById('fff').href = "javascript:show1()";
        }

        function show2() {
            document.getElementById('gg').style.display = 'block';
            document.getElementById('ggg').innerHTML = "∨&nbspOPEN FORESTS"
            document.getElementById('ggg').href = "javascript:hide2()";
        }
        function hide2() {
            document.getElementById('gg').style.display = 'none';
            document.getElementById('ggg').innerHTML = ">&nbspOPEN FORESTS";
            document.getElementById('ggg').href = "javascript:show2()";

        }
        function show3() {
            document.getElementById('hh').style.display = 'block';
            document.getElementById('hhh').innerHTML = "∨&nbspTALL OPEN FORESTS"
            document.getElementById('hhh').href = "javascript:hide3()";
        }
        function hide3() {
            document.getElementById('hh').style.display = 'none';
            document.getElementById('hhh').innerHTML = ">&nbspTALL OPEN FORESTS";
            document.getElementById('hhh').href = "javascript:show3()";

        }

        function show4() {
            document.getElementById('ii').style.display = 'block';
            document.getElementById('iii').innerHTML = "∨&nbspALPINE ASH FOREST (AKA WET SCHEROPHYL FOREST)"
            document.getElementById('iii').href = "javascript:hide4()";
        }
        function hide4() {
            document.getElementById('ii').style.display = 'none';
            document.getElementById('iii').innerHTML = ">&nbspALPINE ASH FOREST (AKA WET SCHEROPHYL FOREST)";
            document.getElementById('iii').href = "javascript:show4()";

        }

        function show5() {
            document.getElementById('jj').style.display = 'block';
            document.getElementById('jjj').innerHTML = "∨&nbspSUBALPINE WOODLAND"
            document.getElementById('jjj').href = "javascript:hide5()";
        }
        function hide5() {
            document.getElementById('jj').style.display = 'none';
            document.getElementById('jjj').innerHTML = ">&nbspSUBALPINE WOODLAND";
            document.getElementById('jjj').href = "javascript:show5()";

        }
        function show6() {
            document.getElementById('kk').style.display = 'block';
            document.getElementById('kkk').innerHTML = ">&nbspALPINE SHRUBBY HEATHLAND"
            document.getElementById('kkk').href = "javascript:hide6()";
        }
        function hide6() {
            document.getElementById('kk').style.display = 'none';
            document.getElementById('kkk').innerHTML = ">&nbspALPINE SHRUBBY HEATHLAND";
            document.getElementById('kkk').href = "javascript:show6()";

        }

        function show7() {
            document.getElementById('ll').style.display = 'block';
            document.getElementById('lll').innerHTML = "∨&nbspBUSHFIRE WARNINGS"
            document.getElementById('lll').href = "javascript:hide7()";
        }
        function hide7() {
            document.getElementById('ll').style.display = 'none';
            document.getElementById('lll').innerHTML = ">&nbspBUSHFIRE WARNINGS";
            document.getElementById('lll').href = "javascript:show7()";

        }

        function show8() {
            document.getElementById('nn').style.display = 'block';
            document.getElementById('nnn').innerHTML = "∨&nbspPROBLEMS"
            document.getElementById('nnn').href = "javascript:hide8()";
        }
        function hide8() {
            document.getElementById('nn').style.display = 'none';
            document.getElementById('nnn').innerHTML = ">&nbspPROBLEMS";
            document.getElementById('nnn').href = "javascript:show8()";

        }

        function show9() {
            document.getElementById('oo').style.display = 'block';
            document.getElementById('ooo').innerHTML = "∨&nbspPLANTS AND FIRE"
            document.getElementById('ooo').href = "javascript:hide9()";
        }
        function hide9() {
            document.getElementById('oo').style.display = 'none';
            document.getElementById('ooo').innerHTML = ">&nbspPLANTS AND FIRE";
            document.getElementById('ooo').href = "javascript:show9()";

        }

        function show10() {
            document.getElementById('pp').style.display = 'block';
            document.getElementById('ppp').innerHTML = "∨&nbspTHE LIST OF THE MAJOR VEGETATION SPECIES"
            document.getElementById('ppp').href = "javascript:hide10()";
        }
        function hide10() {
            document.getElementById('pp').style.display = 'none';
            document.getElementById('ppp').innerHTML = ">&nbspTHE LIST OF THE MAJOR VEGETATION SPECIES";
            document.getElementById('ppp').href = "javascript:show10()";

        }

        function show11() {
            document.getElementById('qq').style.display = 'block';
            document.getElementById('qqq').innerHTML = "∨&nbspFIRE DANGER RATINGS"
            document.getElementById('qqq').href = "javascript:hide11()";
        }
        function hide11() {
            document.getElementById('qq').style.display = 'none';
            document.getElementById('qqq').innerHTML = ">&nbspFIRE DANGER RATINGS";
            document.getElementById('qqq').href = "javascript:show11()";

        }

        function show12() {
            document.getElementById('rr').style.display = 'block';
            document.getElementById('rrr').innerHTML = "∨&nbspTUSSOCK GRASSLAND"
            document.getElementById('rrr').href = "javascript:hide12()";
        }
        function hide12() {
            document.getElementById('rr').style.display = 'none';
            document.getElementById('rrr').innerHTML = ">&nbspTUSSOCK GRASSLAND";
            document.getElementById('rrr').href = "javascript:show12()";

        }

        function show13() {
            document.getElementById('ss').style.display = 'block';
            document.getElementById('sss').innerHTML = "∨&nbspTUSSOCK GRASSLAND"
            document.getElementById('sss').href = "javascript:hide13()";
        }
        function hide13() {
            document.getElementById('ss').style.display = 'none';
            document.getElementById('sss').innerHTML = ">&nbspTUSSOCK GRASSLAND";
            document.getElementById('ss').href = "javascript:show13()";

        }

        function show14() {
            document.getElementById('tt').style.display = 'block';
            document.getElementById('ttt').innerHTML = "∨&nbspALPINE BOG"
            document.getElementById('ttt').href = "javascript:hide14()";
        }
        function hide14() {
            document.getElementById('tt').style.display = 'none';
            document.getElementById('ttt').innerHTML = ">&nbspALPINE BOG";
            document.getElementById('ttt').href = "javascript:show14()";

        }

        function show15() {
            document.getElementById('uu').style.display = 'block';
            document.getElementById('uuu').innerHTML = "∨&nbspSHORT ALPINE HERBFIELD"
            document.getElementById('uuu').href = "javascript:hide15()";
        }
        function hide15() {
            document.getElementById('uu').style.display = 'none';
            document.getElementById('uuu').innerHTML = ">&nbspSHORT ALPINE HERBFIELD";
            document.getElementById('uuu').href = "javascript:show15()";

        }

        function show16() {
            document.getElementById('vv').style.display = 'block';
            document.getElementById('vvv').innerHTML = "∨&nbspFELDMARK"
            document.getElementById('vvv').href = "javascript:hide16()";
        }
        function hide16() {
            document.getElementById('vv').style.display = 'none';
            document.getElementById('vvv').innerHTML = ">&nbspFELDMARK";
            document.getElementById('vvv').href = "javascript:show16()";

        }

        function show17() {
            document.getElementById('ww').style.display = 'block';
            document.getElementById('www').innerHTML = "∨&nbspCatastrophic"
            document.getElementById('www').href = "javascript:hide17()";
        }
        function hide17() {
            document.getElementById('ww').style.display = 'none';
            document.getElementById('www').innerHTML = ">&nbspCatastrophic";
            document.getElementById('www').href = "javascript:show17()";

        }</script>



<style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }

    .pn {
        width: 400px;
        margin: 200px auto 0;
        background-color: #fff;
        text-align: center;
        padding: 0 100px;
    }

    .slide a {
        display: block;
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        background-color: #fff;
        text-decoration: none;
        color: #000;
    }

    p:not(.cssonly) a[href$=".pdf"]:before {
        /* PDF file */
        width: 32px;
        height: 32px;
        background: url('http://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png');
        display: inline-block;
        content: ' ';
    }

    /* Add " (PDF)" text after links that go to PDFs */
    a[href$=".pdf"]:after {
        content: " (PDF)";
    }

    /* If file size specified as data attribute, use that too */
    a[href$=".pdf"][data-size]:after {
        content: " (PDF, " attr(data-size) ")";
    }

    html {
        font-size: 1em;
        line-height: 1.75;
        font-weight: 200;
        -webkit-font-smoothing: antialiased;
        color: #585451;
        font-family: sans-serif;
    }
    /* p {  background-color: gray; } */

    .cssonly a[href$=".pdf"]:after {
        /* PDF file */
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: red;
        border: 1px solid red;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 7.7px;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'PDF';
    }

    .cssonly a[href$=".doc"]:after,
    .cssonly a[href$=".docx"]:after {
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: #00d;
        border: 1px solid #00d;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 7.7px;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'DOC';
    }

    .cssonly a[href$=".xls"]:after,
    .cssonly a[href$=".xlsx"]:after {
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: #090;
        border: 1px solid #090;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 8px;
        font-weight: 700;
        font-family: tahoma, arial, sans-serif;
        letter-spacing: 0.001em;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'XLS';
    }
</style>