<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold; font-size:40px">Preparing Your <br>Vegetation For Bushfires</h3>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showdiv();" id="strhref" class="btn-show">
                    >&nbspVegetation Management
                </a>
            </h2>
            <div class="hpn" id="mm" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Know what you can and can’t do without a permit.<br>
                    If you live in a rural or regional area of the Australian high country, you may not need a permit to clear trees, branches and scrub from around your property.<br>
                    Reducing the vegetation around your home is one of the most important things you can do to keep your home safe in case of bushfires.<br>
                    Depending on where you live, the 10/30 rule and the 10/50 rule might apply socheck with your local council before clearing and preparing.<br>
                    More information on learning how to manage your vegetation have a look at:<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/aflYso_0X68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                    <a href="https://www.planning.vic.gov.au/policy-and-strategy/bushfire/your-property/vegetation-removal-for-bushfire-protection" style="color:#1079dd">•Vegetation management for bushfire protection</a> on the Department of Environment, Land, Water and Planning Website.<br>
                    <img src="~/img/pdf.png"><a href="https://www.planning.vic.gov.au/__data/assets/pdf_file/0028/482176/Fact-Sheet.Vegetation-Exemptions-Bushfire-Protection.pdf" style="color:#1079dd">•Download the Vegetation Clearing Exemptions - Bushfire Protection (August 2020) Fact Sheet.</a><br>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsdiv();" id="abchref" class="btn-show">
                    >&nbspLandscaping
                </a>
            </h2>
            <div class="hpn" id="cc" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    The location, type and ongoing maintenance of vegetation within a property can significantly reduce the impact of a bushfire on any house.<br>
                    Landscaping for bushfire is much the same as any type of gardening and it involves planning, designing, planting and managing the area around your house. Design and plant selection for bushfire can help reduce the effects of direct flame contact and radiant heat on a house.<br>
                    •Download Landscaping for Bushfire:<img src="~/img/pdf.png"> <a href="https://www.cfa.vic.gov.au/documents/20143/72271/landscaping_for_bushfire.pdf/1c6084e1-159e-a820-b0b3-6dc077e661c0" style="color:#1079dd">Garden Design and Plant Selection (PDF 5764k - large file)</a> | <a href="https://www.cfa.vic.gov.au/documents/20143/72271/landscaping_for_bushfire.doc/aa787344-f5bd-f4f4-7bb4-70cdcbcd3ea7" style="color:#54a9e9">Word version (DOC 179k)</a><br>
                    •Use the online <a href="https://www.cfa.vic.gov.au/plan-prepare/plant-selection-key" style="color:#1079dd">Plant Selection Key </a>to help choose plants for a garden in a high bushfire risk area.<br>

                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showssdiv();" id="defhref" class="btn-show">
                    >&nbspGarden design
                </a>
            </h2>
            <div class="hpn" id="dd" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    When modifying an existing garden or designing a new one, you need to consider the placement of garden beds, trees and other flammable objects.<br>

                    You should aim to keep the area around your house and other structures (such as carports and sheds) free of plants that can easily catch fire and then ignite the buildings. You should also separate the flammable elements from each other and the house itself.<br>

                    Garden design should incorporate the following four principles:<br>
                    •Create defendable space<br>
                    •Remove flammable objects from around the house<br>
                    •Break up fuel continuity (keep plants separate)<br>
                    •Carefully select, locate and maintain trees.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:showsssdiv();" id="ghihref" class="btn-show">
                    >&nbspChoosing suitable plants
                </a>
            </h2>
            <div class="hpn" id="ee" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    Although all plants will burn under the right conditions, some plants are less likely to catch fire than others. Choosing plants with low flammability and locating them correctly will help reduce bushfire risk within a garden.<br>
                    Use the<a href="https://www.cfa.vic.gov.au/plan-prepare/plant-selection-key" style="color:#1079dd"> Plant Selection Key</a> to help choose fire-wise plants for your garden.<br>
                    Make a list of the plants you want to use in your garden and work through the questions in the Key to find out the flammability rating of each plant.<br>

                    Remember: While a well-planned garden is important, it is only one aspect of preparing for bushfire. A holistic approach to bushfire preparation is critical. Appropriate water supply, access, house construction and general property maintenance are all important. On Severe, Extreme and Code Rad days, leaving early is the safest option to protect yourself and your family.

                </p>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="test" style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">
                <a href="javascript:show1();" id="fff" class="btn-show">
                    >&nbspExample gardens
                </a>
            </h2>
            <div class="hpn" id="ff" style="display:none;">
                <p style="color:#000000; font-size:20px">
                    The following gardens provide practical examples of landscaping for bushfire in four risk environments:<br>
                    <img src="~/img/pdf.png"><a href="https://www.cfa.vic.gov.au/documents/20143/72271/ExampleGarden_Suburban.pdf/e66b57f4-1ae9-efc1-38ab-fc295f477a67" style="color:#1079dd">•Suburban (PDF 2048K)</a><br>
                    <img src="~/img/pdf.png"><a href="https://www.cfa.vic.gov.au/documents/20143/72271/ExampleGarden_Rural.pdf/3b10e8dd-9b83-74ad-2aed-f9ab588dc604" style="color:#1079dd">•Rural (PDF 3072K)</a><br>
                    <img src="~/img/pdf.png"><a href="https://www.cfa.vic.gov.au/documents/20143/72271/ExampleGarden_Hill.pdf/f3cb052f-72da-52d4-8eb0-98381f2b7bb0" style="color:#1079dd">•Hills (PDF 3072K)</a><br>
                    Read a <a href="https://www.cfa.vic.gov.au/documents/20143/72271/Landscaping_Case_Study.pdf/a53ef77c-75a3-6016-f26c-cb70ca51f714" style="color:#1079dd">case study</a> about a family in the Victorian Goldfields who used landscaping for bushfire design principles when they built their new home.
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:20%">
        <a href="~/Home/Livestock">CLICK HERE TO KNOW HOW TO PREPARE YOUR LIVESTOCK BEFORE BUSHFIRES</a>
    </h4>
</div>


<script type="text/javascript">
            function showdiv() {
                document.getElementById('mm').style.display = 'block';
                document.getElementById('strhref').innerHTML = "∨&nbspVegetation Management";
                document.getElementById('strhref').href = "javascript:hidediv()";
            }
            function hidediv() {
                document.getElementById('mm').style.display = 'none';
                document.getElementById('strhref').innerHTML = ">&nbspVegetation Management";
                document.getElementById('strhref').href = "javascript:showdiv()";

            }

            function showsdiv() {
                document.getElementById('cc').style.display = 'block';
                document.getElementById('abchref').innerHTML = "∨&nbspLandscaping";
                document.getElementById('abchref').href = "javascript:hidesdiv()";
            }
            function hidesdiv() {
                document.getElementById('cc').style.display = 'none';
                document.getElementById('abchref').innerHTML = ">&nbspLandscaping";
                document.getElementById('abchref').href = "javascript:showsdiv()";

            }

            function showssdiv() {
                document.getElementById('dd').style.display = 'block';
                document.getElementById('defhref').innerHTML = "∨&nbspGarden design"
                document.getElementById('defhref').href = "javascript:hidessdiv()";
            }
            function hidessdiv() {
                document.getElementById('dd').style.display = 'none';
                document.getElementById('defhref').innerHTML = ">&nbspGarden design";
                document.getElementById('defhref').href = "javascript:showssdiv()";

            }

            function showsssdiv() {
                document.getElementById('ee').style.display = 'block';
                document.getElementById('ghihref').innerHTML = "∨&nbspChoosing suitable plants"
                document.getElementById('ghihref').href = "javascript:hidesssdiv()";
            }
            function hidesssdiv() {
                document.getElementById('ee').style.display = 'none';
                document.getElementById('ghihref').innerHTML = ">&nbspChoosing suitable plants";
                document.getElementById('ghihref').href = "javascript:showsssdiv()";

            }

            function show1() {
                document.getElementById('ff').style.display = 'block';
                document.getElementById('fff').innerHTML = "∨&nbspExample gardens"
                document.getElementById('fff').href = "javascript:hide1()";
            }
            function hide1() {
                document.getElementById('ff').style.display = 'none';
                document.getElementById('fff').innerHTML = ">&nbspExample gardens";
                document.getElementById('fff').href = "javascript:show1()";
            }

                function show2() {
                    document.getElementById('gg').style.display = 'block';
                    document.getElementById('ggg').innerHTML = "∨&nbspFuel load"
                    document.getElementById('ggg').href = "javascript:hide2()";
                }
                function hide2() {
                    document.getElementById('gg').style.display = 'none';
                    document.getElementById('ggg').innerHTML = ">&nbspFuel load";
                    document.getElementById('ggg').href = "javascript:show2()";

                }
            function show3() {
                document.getElementById('hh').style.display = 'block';
                document.getElementById('hhh').innerHTML = "∨&nbspFuel moisture"
                document.getElementById('hhh').href = "javascript:hide3()";
            }
            function hide3() {
                document.getElementById('hh').style.display = 'none';
                document.getElementById('hhh').innerHTML = ">&nbspFuel moisture";
                document.getElementById('hhh').href = "javascript:show3()";

            }

            function show4() {
                document.getElementById('ii').style.display = 'block';
                document.getElementById('iii').innerHTML = "∨&nbspRelative humidity"
                document.getElementById('iii').href = "javascript:hide4()";
            }
            function hide4() {
                document.getElementById('ii').style.display = 'none';
                document.getElementById('iii').innerHTML = ">&nbspRelative humidity";
                document.getElementById('iii').href = "javascript:show4()";

            }

                function show5() {
                    document.getElementById('jj').style.display = 'block';
                    document.getElementById('jjj').innerHTML = "∨&nbspAmbient temperature"
                    document.getElementById('jjj').href = "javascript:hide5()";
                }
                function hide5() {
                    document.getElementById('jj').style.display = 'none';
                    document.getElementById('jjj').innerHTML = ">&nbspAmbient temperature";
                    document.getElementById('jjj').href = "javascript:show5()";

                }
            function show6() {
                document.getElementById('kk').style.display = 'block';
                document.getElementById('kkk').innerHTML = ">&nbspSlope angle"
                document.getElementById('kkk').href = "javascript:hide6()";
            }
            function hide6() {
                document.getElementById('kk').style.display = 'none';
                document.getElementById('kkk').innerHTML = ">&nbspSlope angle";
                document.getElementById('kkk').href = "javascript:show6()";


            }
    </script>



<style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }

    .pn {
        width: 400px;
        margin: 200px auto 0;
        background-color: #fff;
        text-align: center;
        padding: 0 100px;
    }

    .slide a {
        display: block;
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        background-color: #fff;
        text-decoration: none;
        color: #000;
        p: not(.cssonly) a[href$=".pdf"]:before

    {
        /* PDF file */
        width: 32px;
        height: 32px;
        background: url('http://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png');
        display: inline-block;
        content: ' ';
    }

    /* Add " (PDF)" text after links that go to PDFs */
    a[href$=".pdf"]:after {
        content: " (PDF)";
    }

    /* If file size specified as data attribute, use that too */
    a[href$=".pdf"][data-size]:after {
        content: " (PDF, " attr(data-size) ")";
    }

    html {
        font-size: 1em;
        line-height: 1.75;
        font-weight: 200;
        -webkit-font-smoothing: antialiased;
        color: #585451;
        font-family: sans-serif;
    }
    /* p {  background-color: gray; } */

    .cssonly a[href$=".pdf"]:after {
        /* PDF file */
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: red;
        border: 1px solid red;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 7.7px;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'PDF';
    }

    .cssonly a[href$=".doc"]:after,
    .cssonly a[href$=".docx"]:after {
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: #00d;
        border: 1px solid #00d;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 7.7px;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'DOC';
    }

    .cssonly a[href$=".xls"]:after,
    .cssonly a[href$=".xlsx"]:after {
        width: 16px;
        vertical-align: middle;
        margin: 4px 0 2px 4px;
        padding: 4px 0 1px 0px;
        background-color: #fff;
        color: #090;
        border: 1px solid #090;
        border-top-right-radius: 7px;
        box-shadow: 1px 1px #ccc;
        font-size: 8px;
        font-weight: 700;
        font-family: tahoma, arial, sans-serif;
        letter-spacing: 0.001em;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: content-box;
        content: 'XLS';
    }
    }
</style>
