<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="font-family: Ubuntu-Bold">Vegetation in high country</h3>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-left: 22%; color:#000000" >
                Touring Australia: Australian Alps<br>
            </h1>
            <h3 style="margin-left: 20%">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FsNpeDjhecY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </h3>
            <p style="color:#000000">
                Plants provide Aboriginal people with food, fibre, medicine, shelter and tools. Most plants have a song, story, dance and ceremony associated with it. Each plant also has a group of people who have a responsibility to care for and control the use of that plant and the animals linked to it.<br>

                The Australian Alps provided a plentiful supply of seeds, berries, nectar and roots to eat and a supply of medicines that were not available at lower altitudes. The bark of some shrubs was used to make string nets to catch Bogong Moths and plants also provided shelter and food for a variety of animals that were also useful to Aboriginal people.<br>

                The life cycle of some plants indicate the availability of food resources elsewhere and sometimes dictated the movement of people. For example, the end of the flowering season of one species may indicate that it was time for one group of people to leave an area and another to arrive or a certain species of wattle flowering indicates fish are plentiful somewhere else. Know let’s know more about the vegetation and this amazing land.

            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">The Australian High Country Land</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/Land.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Land"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 style="color: #FFFFFF; background: #000000; font: 19px; padding: 5px 0px 5px 10px;font-family: Ubuntu-Bold">The vegetation in high country</h3>
            <div class="w3-display-container">
                <img alt="" src="~/img/Land3.jpg" style="width:100%; height:300px">
                <div class="w3-display-middle w3-display-hover">
                    <a href="~/Home/Vegetationinland"><button class="w3-button w3-black">Let's start exploring</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 style="font-family: Lato; font-size:30px; color:#ff6a00; margin-left:30%">
        <a href="~/Home/Explore">CLICK HERE TO GO BACK TO THE EXPLORE PAGE</a>
    </h4>
</div>
